<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { user } from '~~/stores/user';
import { customerRoute, coachRoute, supervisorRoute } from '~~/utils/sidebarRoutes';

const modal = ref<boolean>(false);
const userStore = user();
const { role } = useUserRole();
const profile = ref(getUserProfile())

watch(userStore, (newValue, oldValue) => {
    profile.value = getUserProfile()
}, { deep: true });

const showModal = () => {
    modal.value = true;
};
const hideModal = () => {
    modal.value = false;
};
const logout = () => {
    logoutUser();
    hideModal();
};

const fullname = computed(() => {
    return userStore.credentials?.user?.firstName + ' ' + userStore.credentials?.user?.lastName;
})

const getProfileUrl = computed(() => {
    if (role.value === 'customer') {
        return "/customer/profile";
    } else if (role.value === 'coach') {
        return "/coach/profile";
    } else if (role.value === 'supervisor') {
        return "/supervisor/my-account"
    } else { return null; }
})

const getRoute = computed(() => {
    if (role.value === 'customer') {
        return customerRoute;
    } else if (role.value === 'coach') {
        return coachRoute;
    } else if (role.value === 'supervisor') {
        return supervisorRoute;
    } else { return null; }
})

</script>

<template>
    <div class="flex h-screen relative overflow-auto">
        <div class="h-auto w-full max-w-xs absolute top-0 bottom-0 left-0 z-10 lg:z-auto lg:sticky 
            transition-all duration-300 ease-linear bg-gray-800 bg-glass bg-glass-remove-lg">
            <div class="mx-auto flex justify-center bg-primary-focus bg-opacity-20 py-6">
                <Logo />
            </div>
            <TheSidebar :menu-routes="getRoute" />
            <ul class="menu w-full">
                <li @click="showModal">
                    <a>
                        <icon icon="ic:outline-logout" class="text-xl mr-2" />
                        <span class="capitalize">Logout</span>
                    </a>
                </li>
            </ul>
            <VFModal v-model="modal">
                <div class="flex flex-col justify-center items-center">
                    <h2 class="text-xl uppercase font-bold">Are you about to logout?</h2>
                    <div class="flex space-x-4 mt-6">
                        <button class="bg-primary text-white px-4 py-2 rounded-lg" @click="logout">Yes</button>
                        <button class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg" @click="hideModal">No</button>
                    </div>
                </div>
            </VFModal>
        </div>
        <div class="flex flex-col grow">
            <div class="w-full px-8 py-4 bg-base-200 flex justify-between items-center sticky top-0 left-0 right-0">
                <h1 class="font-bold uppercase grow">{{ role }}</h1>
                <div class="flex justify-end items-center">
                    <h2 class="capitalize text-primary">{{ fullname }}</h2>
                    <NuxtLink :to="getProfileUrl" class="avatar ml-2">
                        <div class="w-8 rounded-full ring ring-primary">
                            <img :src="profile.src" :alt="profile.alt" />
                        </div>
                    </NuxtLink>
                </div>
            </div>
            <slot />
        </div>
    </div>
</template>


<style scoped>
</style>
