<template>
  <div>
    <TheHeader />
    <div class="main pt-14 md:pt-24">
      <slot />
    </div>
    <TheFooter />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped>
</style>
