<template>
    <div class="min-h-[90vh] flex bg-[url('~/assets/images/login-bg.jpg')]">
        <div class="w-full flex justify-center items-center">
            <FormLogin />
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style scoped>
</style>