<script setup lang="ts">
import { ICategory } from '~~/interfaces/ICategory';

type propsItem = {
    items: ICategory;
}
defineProps<propsItem>();
</script>

<template>
    <div class="card hover:bg-gray-600 transition-colors duration-300 ease-linear bg-gray-700">
        <figure>
            <img :src="items.image" :alt="items.title" />
        </figure>
        <div class="card-body flex flex-row justify-between -center">
            <div class="grow text-left">
                <h4 class="uppercase font-bold tracking-widest text-primary text-sm">
                    {{ items.category }}
                </h4>
                <h3 class="uppercase font-bold">{{ items.title }}</h3>
            </div>
            <NuxtLink :to="items.url"
                class="py-3 px-5 bg-gray-800 rounded-lg hover:bg-black transition-colors duration-300 ease-linear">❯
            </NuxtLink>
        </div>
    </div>
</template>



<style scoped>
</style>