<script setup lang="ts">
import { Icon } from "@iconify/vue";
import { IFeature } from '~~/interfaces/IFeature';

type propsItem = {
    items: IFeature
}
defineProps<propsItem>();

</script>

<template>
    <div class="group flex flex-col justify-center items-center">
        <div
            class="w-[100px] h-[100px] rounded-full bg-gray-600 transition-colors duration-300 ease-linear group-hover:bg-primary flex justify-center items-center">
            <icon :icon="items.icon"
                class="text-3xl group-hover:text-gray-900 transition-colors duration-300 ease-linear" />
        </div>
        <div class="flex flex-col justify-center text-center mt-6 space-y-3">
            <h2 class="whitespace-nowrap font-bold tracking-tight text-xl capitalize">
                {{ items.title }}
            </h2>
            <p>{{ items.description }}</p>
        </div>
    </div>
</template>



<style scoped>
</style>