<script setup lang="ts">
import { IPricesPlan } from '~~/interfaces/IPricesPlan';

type propsItem = {
    items: IPricesPlan
}
defineProps<propsItem>();

</script>

<template>
    <div class="group card bg-base-200 hover:bg-gray-700 transition-colors duration-300 ease-linear min-w-[300px]">
        <div class="card-body flex flex-col justify-start items-center">
            <h2 class="card-title capitalize text-2xl">{{ items.type }}</h2>
            <div class="text-center my-4">
                <h2 class="text-6xl font-bold uppercase tracking-tight">$ {{ items.price }}</h2>
                <p class="uppercase tracking-widest font-bold mt-2">{{ items.feature }}</p>
            </div>
            <ul class="space-y-2 my-4">
                <li v-for="(feature, index) in items.featureList" :key="index" class="text-center">{{ feature }}</li>
            </ul>
            <button class="btn btn-wide btn-primary btn-outline mt-6 group-hover:btn-primary">
                enroll now
            </button>
        </div>
    </div>
</template>


<style scoped>
</style>