<script setup lang="ts">
// import { TrainerItem } from '~~/types/Trainer';

type props = {
    items: any;
    width?: string;
};
const { items } = defineProps<props>();

const profileComputed = computed(() => {
    if (items?.user?.imageSrc) {
        return items.user.imageSrc;
    } else {
        return '/static/images/profile.svg';
    }
})

</script>

<template>
    <div class="card image-full min-w-[280px] min-h-[350px] group" :class="width">
        <figure class="z-10">
            <img :src="profileComputed" :alt="items?.user?.firstName || 'tainer'">
        </figure>
        <div
            class="card-body transform translate-y-full bg-black group-hover:translate-y-2/3 -skew-y-6 transition-transform duration-300 ease-linear border-t-2">
            <div class="transform skew-y-6">
                <h5 class="card-title text-white ">{{ items?.user?.firstName + " " + items?.user?.lastName }}</h5>
                <p class="card-text">{{ items?.specialization?.name }}</p>
            </div>
        </div>
    </div>
</template>



<style scoped>
</style>