html,
body {
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.3s ease; */
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #222f3d;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bdbfc0;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

#ModalBase {
    z-index: 99;
    backdrop-filter: blur(16px);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.04);
}

#ModalBase div[leave-class="opacity-100"]:first-child {
    opacity: 0;
}

.vfm--overlay[data-v-34f65a1c] {
    background-color: transparent !important;
}

/* Datetime picker border styles */
.date-time-picker input {
    border: 1px solid #f56200 !important;
    background-color: #141414 !important;
}

.date-time-picker input:disabled {
    border: 1px solid #fff !important;
    color: #fff !important;
    background-color: #242933 !important;
    border: none !important;
}
