@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container-full {
        @apply px-6 md:px-10 lg:px-20 xl:px-28;
    }
    .bg-glass {
        @apply bg-opacity-50 backdrop-blur-lg drop-shadow-lg;
    }
    .bg-glass-remove-md {
        @apply md:bg-opacity-100 md:backdrop-blur-none md:drop-shadow-none;
    }
    .bg-glass-remove-lg {
        @apply lg:bg-opacity-100 lg:backdrop-blur-none lg:drop-shadow-none;
    }
}
