<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { object, string } from 'yup'

const { $toast, $modal } = useNuxtApp();

const specializations = ref<any[] | null>(null);
const modal = ref<boolean>(false);
const showModal = () => modal.value = true;
const hideModal = () => modal.value = false;
const isLoading = ref<boolean>(false);
const isDeleting = ref<boolean>(false);
const isUpdating = ref<boolean>(false);

const modalUpdate = ref<boolean>(false);
const specToUpdate = ref<any | null>(null);
const showModalUpdate = (item: any) => {
    specToUpdate.value = item;
    modalUpdate.value = true;
}
const hideModalUpdate = () => {
    specToUpdate.value = null;
    modalUpdate.value = false;
}
const specToDelete = ref<any | null>(null);

onMounted(async () => {
    const resp = await apiGet("/api/Specialization");
    if (resp?.statusCode === 200) {
        specializations.value = resp?.value
    }
})

const initailUpdate = computed(() => {
    return {
        name: specToUpdate.value?.name || ''
    };
})

const initialValues = {
    name: '',
}
const schema = object().shape({
    name: string().required().min(2).max(50),
})

const onSubmit = async (values: any, { resetForm }: any) => {
    isLoading.value = true;
    const resp = await apiPost("/api/Specialization", values);
    console.log("Specialization: ", resp);
    if (resp?.statusCode === 201) {
        specializations.value.push(resp?.value);
        resetForm();
        $toast.show({
            message: "Specialization created successfully",
            type: "success"
        })
    } else {
        console.log("resp: ", resp);
        $toast.show({
            message: resp?.value,
            type: "danger"
        })
    }
    isLoading.value = false;
    hideModal();
}

const handleUpdate = async (values: { name: any; }, { resetForm }: any) => {
    isUpdating.value = true;
    console.log("values: ", values);
    const resp = await apiPut(`/api/Specialization/${specToUpdate.value?.id}`, {
        id: specToUpdate.value?.id,
        name: values.name
    });
    if (resp?.statusCode === 200) {
        const updateSpec = specializations.value.find(item => item.id === specToUpdate.value?.id);
        updateSpec.name = resp?.value?.name;
        resetForm();
        $toast.show({
            message: "Specialization updated successfully",
            type: "success"
        })
    } else {
        console.log("resp: ", resp);
        $toast.show({
            message: resp?.value,
            type: "danger"
        })
    }
    isUpdating.value = false;
    hideModalUpdate();
}

const showModalDelete = (specToDel: any) => {
    specToDelete.value = specToDel;
    $modal.show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This specialization will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleDelete(),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
            action: () => specToDelete.value = null,
        },
    })
}

const handleDelete = async () => {
    console.log("specToDelete: ", specToDelete);
    isDeleting.value = true;
    const resp = await apiDelete("/api/Specialization", specToDelete.value.id);
    if (resp?.statusCode == 200) {
        specializations.value = specializations.value.filter(spec => spec.id != specToDelete.value.id);
        $toast.show(resp?.value)
    } else {
        $toast.show('Error deleting specialization');
    }
    console.log("resp: ", resp);
    isDeleting.value = false;
}

</script>

<template>
    <ContainerAccountPage title="Specialization">
        <div class="flex justify-end ml-0">
            <button class="btn btn-outline btn-primary" @click="showModal">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Specialization
            </button>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12"></th>
                        <th>Name</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(spec, index) in specializations" :key="index">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">{{ spec?.name }}</td>
                        <td class="space-x-2 flex items-center ">
                            <button class="btn btn-square btn-sm btn-error btn-outline" @click="showModalDelete(spec)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <button class="btn btn-sm btn-outline btn-warning"
                                @click="showModalUpdate(spec)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!specializations" message="No Specialization Yet" />
        <VFModal v-model="modal">
            <template #title>
                <h2>Create Specialization</h2>
            </template>
            <VeeForm class="mt-6" :validation-schema="schema" @submit="onSubmit" :initial-values="initialValues">
                <div class="flex">
                    <InputText name="name" placeholder="Specialization name" />
                    <button type="submit" class="btn btn-primary ml-2" :class="{ 'loading': isLoading }">Submit</button>
                </div>
            </VeeForm>
        </VFModal>
        <VFModal v-model="modalUpdate">
            <template #title>
                <h2>Update Specialization</h2>
            </template>
            <VeeForm class="mt-6" :validation-schema="schema" @submit="handleUpdate" :initial-values="initailUpdate">
                <div class="flex">
                    <InputText name="name" placeholder="Specialization name" />
                    <button type="submit" class="btn btn-primary ml-2"
                        :class="{ 'loading': isUpdating }">Submit</button>
                </div>
            </VeeForm>
        </VFModal>
    </ContainerAccountPage>
</template>


<style scoped>
</style>