<script setup lang="ts">
import { PricesPlanItem } from '~~/types/PricesPlan';



//#region prices plan
const prices: PricesPlanItem[] = [
  {
    type: "Class drop-in",
    price: 39.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  },
  {
    type: "12 Month unlimited",
    price: 99.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  },
  {
    type: "6 Month unlimited",
    price: 59.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  }
]
//#endregion

</script>

<template>
  <WrapperPage title="Services" bg-image-class="bg-[url('~/assets/images/breadcrumb-bg.jpg')]">
    <!-- WHAT WE DO? -->
    <WrapperSection title="WHAT WE DO?" tagline="PUSH YOUR LIMITS FORWARD">
      <div class="grid grid-cols-2">
        <div
          class="card lg:card-side rounded-none bg-base-200 hover:bg-opacity-50 transition-colors duration-300 ease-linear shadow-xl">
          <figure class="aspect-1" style="height: 100%;"><img src="~/assets/images/services/services-1.jpg" alt="Album">
          </figure>
          <div class="card-body flex flex-col justify-center items-start">
            <h2 class="font-bold text-xl capitalize tracking-tight">Personal training</h2>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
              facilisis.</p>
          </div>
        </div>
        <div
          class="card lg:card-side rounded-none bg-base-200 hover:bg-opacity-50 transition-colors duration-300 ease-linear shadow-xl">
          <figure class="aspect-1" style="height: 100%;"><img src="~/assets/images/services/services-2.jpg" alt="Album">
          </figure>
          <div class="card-body flex flex-col justify-center items-start">
            <h2 class="font-bold text-xl capitalize tracking-tight">Personal training</h2>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
              facilisis.</p>
          </div>
        </div>
        <div
          class="card lg:card-side lg:flex-row-reverse rounded-none bg-base-200 hover:bg-opacity-50 transition-colors duration-300 ease-linear shadow-xl">
          <figure class="aspect-1" style="height: 100%;"><img src="~/assets/images/services/services-3.jpg" alt="Album">
          </figure>
          <div class="card-body flex flex-col justify-center items-start">
            <h2 class="font-bold text-xl capitalize tracking-tight">Personal training</h2>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
              facilisis.</p>
          </div>
        </div>
        <div
          class="card lg:card-side lg:flex-row-reverse rounded-none bg-base-200 hover:bg-opacity-50 transition-colors duration-300 ease-linear shadow-xl">
          <figure class="aspect-1" style="height: 100%;"><img src="~/assets/images/services/services-4.jpg" alt="Album">
          </figure>
          <div class="card-body flex flex-col justify-center items-start">
            <h2 class="font-bold text-xl capitalize tracking-tight">Personal training</h2>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
              facilisis.</p>
          </div>
        </div>
      </div>
    </WrapperSection>
    <!-- End WHAT WE DO? -->

    <!-- Obey -->
    <div class="flex min-h-[40vh] bg-[url('~/assets/images/banner-bg.jpg')] bg-no-repeat bg-cover object-cover">
      <div class="bg-black bg-opacity-30 w-full px-2 flex flex-col justify-center items-center text-center space-y-6">
        <h2 class="text-2xl md:text-3xl lg:text-5xl uppercase tracking-tight font-bold">
          EXERCISE UNTIL THE BODY OBEYS.
        </h2>
        <p class="text-sm md:text-base font-bold tracking-widest uppercase">WHERE HEALTH, BEAUTY AND FITNESS MEET.</p>
      </div>
    </div>
    <!-- End Obey -->

    <!-- Our Plans -->
    <WrapperSection bg-full title="OUR PLAN" tagline="CHOOSE YOUR PRICING PLAN">
      <ul class="grid grid-flow-col auto-cols-max lg:justify-center gap-6 container overflow-auto snap-x">
        <li v-for="(price, index) in prices" :key="index" class="snap-center mb-4">
          <CardPrice :items="price" />
        </li>
      </ul>
    </WrapperSection>
    <!-- End our plans -->
  </WrapperPage>
</template>



<style scoped>
</style>