<script setup lang="ts">

useHead({
    title: 'Register',
})
</script>

<template>
    <div class="min-h-[90vh] flex bg-[url('~/assets/images/login-bg.jpg')]">
        <div class="w-full flex justify-center items-center">
            <FormRegister />
        </div>
    </div>
</template>



<style scoped>
</style>