<script setup lang="ts">
import { object, string } from "yup"
import { INPUT_TYPE } from "~~/enum"

useHead({
    title: "Login",
})

const initialValues = {
    email: "",
    password: ""
}

const isLogging = ref<boolean>(false);

const schema = object().shape({
    email: string().required().email(),
    password: string().required()
});

const onSubmit = async (values, action) => {
    isLogging.value = true;
    const resp = await signInUser(values);
    const router = useRouter();

    const { $toast } = useNuxtApp();
    if (resp?.statusCode == 200) {
        $toast.show({
            message: "Login Successful",
            type: "success"
        })
        router.push("/");
    } else {
        $toast.show({
            message: "Login fail! Incorrect email or password.",
            type: "danger"
        })
    }
    isLogging.value = false;
    // console.log(resp);
}

</script>

<template>
    <div
        class="min-w-[300px] my-36 md:min-w-[400px] bg-primary bg-opacity-20 backdrop-blur-lg drop-shadow-lg p-12 rounded-lg">
        <h1 class="text-2xl uppercase tracking-widest">Login</h1>
        <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
            <div>
                <InputText name="email" label="Email" placeholder="Email" :disabled="isLogging" />
            </div>
            <div class="mt-3">
                <InputText :type="INPUT_TYPE.password" name="password" label="Password" placeholder="Password"
                    :disabled="isLogging" />
            </div>
            <button type="submit" class="btn btn-primary text-gray-800 mt-4 w-full">Login</button>
        </VeeForm>
        <div class="mt-6 flex justify-between items-end">
            <NuxtLink to="/forgot-password" class="hover:text-primary transition-colors duration-200 ease-linear">
                Forgot password?</NuxtLink>
            <NuxtLink to="/register" class="text-primary hover:scale-105 transition-transform duration-200 ease-linear">
                Create account?</NuxtLink>
        </div>
    </div>
</template>

<style scoped>
</style>