<script setup lang="ts">
import { INPUT_TYPE } from '~~/enum';
import { Icon } from '@iconify/vue';
import { object, string, date, ref as yupRef, bool } from "yup";
import { ICreateCustomer } from '~~/interfaces/IUser';
import { passwordRegExp, phoneRegExp } from '~~/utils/regExp';

const router = useRouter();

const isSubmitting = ref(false);
const registerResp = ref<any | null | undefined>(null);

const dob = ref('2000-01-01');
const minDate = ref('1900-01-01');

const schema = object().shape({
    firstName: string().min(2).max(50).required('First name is required'),
    lastName: string().min(2).max(50).required('Last name is required'),
    gender: string().required(),
    phoneNumber: string().required().matches(phoneRegExp, 'Phone number is not valid'),
    email: string().required().email(),
    password: string().required().min(6).matches(passwordRegExp,
        "Must Contain 8 Characters, One Uppercase, One Lowercase, One Number and One Special Case Character"),
    passwordConfirm: string().required().oneOf([yupRef('password')], 'Passwords must match'),
    acceptPrivacy: bool().required("You must accept the privacy policy"),
    acceptTerms: bool().required("You must accept the terms of service"),
});

const initialValues = {
    firstName: '',
    lastName: '',
    gender: '',
    phoneNumber: '',
    email: '',
    password: '',
    passwordConfirm: '',
};

const onSubmit = async (values, action) => {
    registerResp.value = null;
    isSubmitting.value = true;

    const user: ICreateCustomer = {
        user: {
            firstName: values.firstName,
            lastName: values.lastName,
            email: values.email,
            password: values.password,
            gender: values.gender,
            phoneNumber: values.phoneNumber,
            dateOfBirth: new Date(dob.value)
        }
    }

    const response = await registerCustomer(user);
    registerResp.value = response;
}

</script>

<template>
    <div
        class="min-w-[300px] my-36 md:min-w-[400px] bg-primary bg-opacity-20 backdrop-blur-lg drop-shadow-lg p-12 rounded-lg">
        <div v-if="registerResp" class="toast">
            <div class="alert mb-6 rounded-md"
                :class="{ 'alert-success': registerResp?.statusCode == 201, 'alert-error': registerResp?.statusCode == 400 }">
                <div class="flex justify-between items-center w-full">
                    <span>{{ registerResp?.value }}</span>
                    <NuxtLink class="link link-hover font-bold" to="/login">LOGIN NOW</NuxtLink>
                </div>
            </div>
        </div>
        <h1 class="text-2xl uppercase tracking-widest">Register</h1>
        <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <InputText name="firstName" label="First Name" placeholder="First Name" :disabled="isSubmitting" />
                <InputText name="lastName" label="Last Name" placeholder="Last Name" :disabled="isSubmitting" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <div>
                    <label for="dateOfBirth" class="text-primary capitalize">Date of birth</label>
                    <DateTimePicker only-date format="YYYY-MM-DD" input-size="lg" dark :min-date="minDate"
                        no-clear-button button-color="teal" color="teal" :disabled="isSubmitting" right no-label
                        id="dateOfBirth" formatted="ll" :inititale-value="dob" v-model="dob" />
                </div>
                <InputSelect name="gender" label="Gender" :disabled="isSubmitting"
                    :options="[{ label: 'Male', value: 1 }, { label: 'Female', value: 2 }]" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <InputText :type="INPUT_TYPE.tel" name="phoneNumber" label="Phone Number" placeholder="Phone Number"
                    :disabled="isSubmitting" />
                <InputText :type="INPUT_TYPE.email" name="email" label="Email" placeholder="Email"
                    :disabled="isSubmitting" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <InputText :type="INPUT_TYPE.password" name="password" label="Password" placeholder="Password"
                    :disabled="isSubmitting" />
                <InputText :type="INPUT_TYPE.password" name="passwordConfirm" label="Confirm Password"
                    placeholder="Confirm Password" :disabled="isSubmitting" />
            </div>
            <div class="mt-3">
                <div class="form-control">
                    <label class="label justify-start cursor-default">
                        <VeeField name="acceptPrivacy" type="checkbox" class="checkbox checkbox-primary"
                            :value="true" />
                        <span class="label-text ml-4">Accept privacy policy.</span>
                        <VeeErrorMessage name="acceptPrivacy" as="p" class="help text-warning ml-4" />
                    </label>
                </div>
                <div class="form-control">
                    <label class="label justify-start cursor-pointer">
                        <VeeField name="acceptTerms" type="checkbox" class="checkbox checkbox-primary" :value="true" />
                        <span class="label-text ml-4">Accept Terms && Conditions</span>
                        <VeeErrorMessage name="acceptTerms" as="p" class="help text-warning ml-4" />
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-gray-800 mt-6 w-full"
                :class="{ 'loding btn-disabled': isSubmitting }">Register Account
            </button>
        </VeeForm>
        <div class="mt-6 flex justify-end items-end text-right">
            <NuxtLink to="/login" class="text-primary hover:scale-105 transition-transform duration-200 ease-linear">
                Already has an account?</NuxtLink>
        </div>

    </div>

</template>

<style scoped>
</style>