<script setup lang="ts">

const roles = ref<any | null>(null);

onMounted(async () => {
    const resp = await apiGet("/api/Role");
    roles.value = resp;
    console.log("resp: ", resp);
})

</script>

<template>
    <ContainerAccountPage title="Role">
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12"></th>
                        <th>Name</th>
                        <th>Normalized Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(role, index) in roles" :key="index">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">{{ role?.name }}</td>
                        <td>{{ role?.normalizedName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ContainerAccountPage>
</template>


<style scoped>
</style>