<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { object, string } from 'yup'

const { $toast, $modal } = useNuxtApp();

const status = ref<any[]>([]);
const modal = ref<boolean>(false);
const showModal = () => modal.value = true;
const hideModal = () => modal.value = false;
const isLoading = ref<boolean>(false);
const isDeleting = ref<boolean>(false);
const isUpdating = ref<boolean>(false);

const modalUpdate = ref<boolean>(false);
const statusToUpdate = ref<any | null>(null);
const showModalUpdate = (item: any) => {
    statusToUpdate.value = item;
    modalUpdate.value = true;
}
const hideModalUpdate = () => {
    statusToUpdate.value = null;
    modalUpdate.value = false;
}

const statusToDelete = ref<any | null>(null);

const initailUpdate = computed(() => {
    return {
        name: statusToUpdate.value?.name || ''
    };
})

const initialValues = {
    name: '',
}
const schema = object().shape({
    name: string().required().min(2).max(50),
})


onMounted(async () => {
    const resp = await apiGet("/api/Status");
    if (resp?.statusCode === 200) {
        status.value = resp?.value
    }
})

const onSubmit = async (values: any, { resetForm }: any) => {
    isLoading.value = true;
    const resp = await apiPost("/api/Status", values);
    console.log("status: ", resp);
    if (resp?.statusCode === 201) {
        status.value.push(resp?.value);
        resetForm();
        $toast.show({
            message: "Status created successfully",
            type: "success"
        })
    } else {
        console.log("resp: ", resp);
        $toast.show({
            message: resp?.value,
            type: "danger"
        })
    }
    isLoading.value = false;
    hideModal();
}

const handleUpdate = async (values: { name: any; }, { resetForm }: any) => {
    isUpdating.value = true;
    console.log("values: ", values);
    const resp = await apiPut(`/api/Status/${statusToUpdate.value?.id}`, {
        id: statusToUpdate.value?.id,
        name: values.name
    });
    if (resp?.statusCode === 200) {
        const updateStatus = status.value.find(item => item.id === statusToUpdate.value?.id);
        updateStatus.name = resp?.value?.name;
        resetForm();
        $toast.show({
            message: "Status updated successfully",
            type: "success"
        })
    } else {
        console.log("resp: ", resp);
        $toast.show({
            message: resp?.value,
            type: "danger"
        })
    }
    isUpdating.value = false;
    hideModalUpdate();
}

const showModalDelete = (statusToDel: any) => {
    statusToDelete.value = statusToDel;
    $modal.show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This status will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleDelete(),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
            action: () => statusToDelete.value = null,
        },
    })
}

const handleDelete = async () => {
    console.log("statusToDelete: ", statusToDelete);
    isDeleting.value = true;
    const resp = await apiDelete("/api/Status", statusToDelete.value.id);
    if (resp?.statusCode == 200) {
        status.value = status.value.filter(status => status.id != statusToDelete.value.id);
        $toast.show(resp?.value)
    } else {
        $toast.show('Error deleting status');
    }
    console.log("resp: ", resp);
    isDeleting.value = false;
}

</script>

<template>
    <ContainerAccountPage title="Status">
        <div class="flex justify-end ml-0">
            <button class="btn btn-outline btn-primary" @click="showModal">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Status
            </button>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(item, index) in status" :key="index">
                        <th class="w-12">{{ index + 1 }}</th>
                        <td class="capitalize">{{ item?.name }}</td>
                        <td class="space-x-2 flex items-center ">
                            <button class="btn btn-square btn-sm btn-error btn-outline" @click="showModalDelete(item)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <button class="btn btn-sm btn-outline btn-warning"
                                @click="showModalUpdate(item)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!status.length" message="No Status Yet" />
        <VFModal v-model="modal">
            <template #title>
                <h2>Create Status</h2>
            </template>
            <VeeForm class="mt-6" :validation-schema="schema" @submit="onSubmit" :initial-values="initialValues">
                <div class="flex">
                    <InputText name="name" placeholder="Status name" />
                    <button type="submit" class="btn btn-primary ml-2" :class="{ 'loading': isLoading }">Submit</button>
                </div>
            </VeeForm>
        </VFModal>
        <VFModal v-model="modalUpdate">
            <template #title>
                <h2>Update Status</h2>
            </template>
            <VeeForm class="mt-6" :validation-schema="schema" @submit="handleUpdate" :initial-values="initailUpdate">
                <div class="flex">
                    <InputText name="name" placeholder="Status name" />
                    <button type="submit" class="btn btn-primary ml-2"
                        :class="{ 'loading': isUpdating }">Submit</button>
                </div>
            </VeeForm>
        </VFModal>
    </ContainerAccountPage>
</template>

<style scoped>
</style>