<script setup lang="ts">
import { INPUT_TYPE } from '~~/enum';
import { Icon } from '@iconify/vue';
import { object, string, date, ref as yupRef, bool } from "yup";
import { IStatus } from '~~/interfaces/IStatus';
import { ISelect } from '~~/interfaces/IInput';
import { phoneRegExp } from '~~/utils/regExp';
import { ICreateCoach, ICreateSupervisor } from '~~/interfaces/IUser';

const router = useRouter();
const { $toast } = useNuxtApp();

const statuses = ref<IStatus[]>([]);
const isSubmitting = ref<boolean>(false);

const dob = ref('2000-01-01');
const minDate = ref('1900-01-01');
const maxDate = ref('2020-01-01');

const initialValues = {
    firstName: '',
    lastName: '',
    gender: '1',
    phoneNumber: '',
    email: '',
    status: '',
    password: '',
    passwordConfirm: '',
}

const schema = object().shape({
    firstName: string().min(2).max(50).required('First name is required'),
    lastName: string().min(2).max(50).required('Last name is required'),
    gender: string().required(),
    phoneNumber: string().required().matches(phoneRegExp, 'Phone number is not valid'),
    email: string().required().email(),
    status: string().required(),
    password: string().required().min(6).matches(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/,
        "Must Contain 8 Characters, One Uppercase, One Lowercase, One Number and One Special Case Character"),
    passwordConfirm: string().required().oneOf([yupRef('password')], 'Passwords must match'),
    acceptPrivacy: bool().required("You must accept the privacy policy"),
    acceptTerms: bool().required("You must accept the terms of service"),
})

onMounted(async () => {
    const respStat = await apiGet("/api/Status");
    if (respStat?.statusCode === 200) {
        statuses.value = respStat?.value
    }
})

const statusComputed = computed<ISelect[]>(() => {
    // map IStatus to ISelect
    return statuses.value?.map(item => {
        return {
            label: item.name,
            value: item.id
        }
    })
})

const onSubmit = async (values, { resetForm }) => {
    isSubmitting.value = true;
    const supervisor: ICreateSupervisor = {
        statusId: values.status,
        user: {
            firstName: values.firstName,
            lastName: values.lastName,
            email: values.email,
            password: values.password,
            gender: values.gender,
            phoneNumber: values.phoneNumber,
            dateOfBirth: new Date(dob.value)
        }
    }
    const resp = await apiPost("/api/User/Supervisor", supervisor);
    if (resp?.statusCode == 201) {
        resetForm();
        isSubmitting.value = false;
        $toast.show({
            message: resp?.value,
            type: "success",
        })
        router.push("/supervisor/users/supervisors");
    } else {
        isSubmitting.value = false;
        $toast.show({
            message: resp?.value,
            type: "danger",
        })
    }
}

</script>

<template>
    <ContainerAccountPage title="Create Coach">
        <div>
            <h1 class="text-xl font-bold uppercase text-secondary">Create New Supervisor</h1>
        </div>
        <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <InputText name="firstName" label="First Name" placeholder="First Name" :disabled="isSubmitting" />
                <InputText name="lastName" label="Last Name" placeholder="Last Name" :disabled="isSubmitting" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <div>
                    <label for="dateOfBirth" class="text-primary capitalize">Date of birth</label>
                    <DateTimePicker only-date format="YYYY-MM-DD" input-size="lg" dark :min-date="minDate" no-button-now
                        :max-date="maxDate" no-clear-button button-color="#F56200" color="#F56200"
                        :disabled="isSubmitting" right no-label id="dateOfBirth" formatted="ll" :inititale-value="dob"
                        v-model="dob" />
                </div>
                <InputSelect name="gender" label="Gender" :disabled="isSubmitting"
                    :options="[{ label: 'Male', value: 1 }, { label: 'Female', value: 2 }]" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <InputText :type="INPUT_TYPE.tel" name="phoneNumber" label="Phone Number" placeholder="Phone Number"
                    :disabled="isSubmitting" />
                <InputText :type="INPUT_TYPE.email" name="email" label="Email" placeholder="Email"
                    :disabled="isSubmitting" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <InputSelect name="status" label="Status" :disabled="isSubmitting" :options="statusComputed" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                <InputText :type="INPUT_TYPE.password" name="password" label="Password" placeholder="Password"
                    :disabled="isSubmitting" />
                <InputText :type="INPUT_TYPE.password" name="passwordConfirm" label="Confirm Password"
                    placeholder="Confirm Password" :disabled="isSubmitting" />
            </div>

            <div class="mt-3">
                <div class="form-control">
                    <label class="label justify-start cursor-default">
                        <VeeField name="acceptPrivacy" type="checkbox" class="checkbox checkbox-primary"
                            :value="true" />
                        <span class="label-text ml-4">Accept privacy policy.</span>
                        <VeeErrorMessage name="acceptPrivacy" as="p" class="help text-warning ml-4" />
                    </label>
                </div>
                <div class="form-control">
                    <label class="label justify-start cursor-pointer">
                        <VeeField name="acceptTerms" type="checkbox" class="checkbox checkbox-primary" :value="true" />
                        <span class="label-text ml-4">Accept Terms && Conditions</span>
                        <VeeErrorMessage name="acceptTerms" as="p" class="help text-warning ml-4" />
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-gray-800 mt-6 w-full"
                :class="{ 'loding btn-disabled': isSubmitting }">Create Supervisor
            </button>
        </VeeForm>
    </ContainerAccountPage>
</template>

<style scoped>
</style>