<script setup lang="ts">
import { Icon } from "@iconify/vue";

const { $toast, $modal } = useNuxtApp();
const supervisors = ref<any[] | null>(null);
const isDeleting = ref<boolean>(false);

onMounted(async () => {
    const resp = await apiGet("/api/User/Supervisors");
    if (resp?.statusCode === 200) {
        supervisors.value = resp?.value;
    }
});

const handleDelete = async (supervisor: any) => {
    $modal.show({
        type: "danger",
        title: "Confirm Delete",
        body: "This user will be deleted permanently.",
        primary: {
            label: "Confirm",
            theme: "red",
            action: async () => await deleteUser(supervisor?.id).then(resp => {
                if (resp) supervisors.value = supervisors.value.filter((s) => s.id != supervisor?.id);
            }),
        },
        secondary: {
            label: "Cancel",
            theme: "white",
            action: () => { },
        },
    });
};
</script>

<template>
    <ContainerAccountPage title="Customer">
        <div class="flex justify-end ml-0">
            <NuxtLink to="/supervisor/users/supervisors/create" class="btn btn-outline btn-primary">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Supervisor
            </NuxtLink>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12">#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Created At</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(supervisor, index) in supervisors" :key="index">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">
                            {{
                                    supervisor?.user.firstName +
                                    " " +
                                    supervisor?.user.lastName
                            }}
                        </td>
                        <td>{{ supervisor?.user.email }}</td>
                        <td>{{ supervisor?.user.phoneNumber }}</td>
                        <td>
                            {{
                                    supervisors.length &&
                                    new Date(supervisor?.user.createdAt).toLocaleDateString()
                            }}
                        </td>
                        <td class="space-x-2 flex items-center">
                            <button class="btn btn-square btn-sm btn-error btn-outline"
                                @click="handleDelete(supervisor)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <!-- <button class="btn btn-sm btn-outline btn-warning">Suspend</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ContainerAccountPage>
</template>

<style scoped>
</style>
