<script setup lang="ts">

</script>

<template>
  <WrapperPage title="Contact Us" bg-image-class="bg-[url('~/assets/images/breadcrumb-bg.jpg')]">
    <div class="flex flex-col bg-black py-12">
      <div class="container flex flex-col md:flex-row md:space-x-6 space-y-12 justify-between">
        <div>
          <h4 class="uppercase tracking-widest font-bold text-primary">Contact us</h4>
          <h2 class="uppercase tracking-tight font-bold text-2xl mb-6">get in touch</h2>
          <ContactInfo is-vertical />
        </div>
        <form class="grid grid-cols-1 gap-4 w-full md:max-w-xs">
          <input type="text" class="input-primary input input-bordered w-full md:max-w-xs " placeholder="Full name">
          <input type="email" class="input-primary input input-bordered w-full md:max-w-xs" placeholder="Email">
          <input type="tel" class="input-primary input input-bordered w-full md:max-w-xs" placeholder="Phone number">
          <textarea class="textarea textarea-primary w-full md:max-w-xs" placeholder="Message"></textarea>
          <button type="submit" class="btn btn-primary text-black font-bold md:max-w-xs">Sumit</button>
        </form>
      </div>
    </div>
    <div class="container aspect-[16/9] bg-base-200 rounded-lg">
      <h2 class="text-center">Map Here</h2>
    </div>
  </WrapperPage>
</template>



<style scoped>
</style>