<script setup lang="ts">
import moment from 'moment';

type props = {
    item: any;
    isExpired: boolean;
}

const { item } = defineProps<props>();

const getDate = computed(() => {
    console.log("item date: ", item);
    return (date) => moment(date).format('DD-MM-YYYY (h:mm a)');
})

</script>


<template>
    <div class="flex justify-between items-center">
        <div class="flex justify-start items-center space-x-6">
            <div class="avatar">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img :src="item?.coach?.user?.imageSrc || '/static/images/profile.svg'"
                        :alt="item?.coach?.user?.firstName" />
                </div>
            </div>

            <div class="flex flex-col">
                <h2 class="text-lg font-bold"> {{ item?.coach?.user?.firstName }} {{
                        item?.coach?.user?.lastName
                }}
                    <span class="text-primary">{{ item?.coach?.user?.gender == 1 ? "♂" : "♀" }}</span>
                </h2>
                <p>Status: <span class="font-bold capitalize text-primary">{{ item?.coach?.status?.name
                }}</span></p>
                <p>Specialization: <span class="font-bold capitalize text-primary">{{
                        item?.coach?.specialization?.name
                }}</span>
                </p>
            </div>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="flex justify-start items-center space-x-6">
            <div class="flex flex-col">
                <h2 class="text-lg font-bold">
                    {{ item?.customer?.user?.firstName }} {{ item?.customer?.user?.lastName }}
                    <span class="text-primary">{{ item?.customer?.user?.gender == 1 ? "♂" : "♀" }}</span>
                </h2>
            </div>
            <div class="avatar">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img :src="item?.customer?.user?.imageSrc || '/static/images/profile.svg'"
                        :alt="item?.customer?.user?.firstName" />
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col text-center mt-12">
        <h1 class="text-2xl font-bold text-primary">Appointment</h1>

        <div class="mt-6 flex justify-center space-x-12">
            <span>Start At: <span class="text-primary text-lg font-semibold">{{ getDate(item?.startDate)
            }}</span></span>
            <span>End At: <span class="text-primary text-lg font-semibold">{{ getDate(item?.endDate)
            }}</span></span>
        </div>
    </div>
    <div class="flex grow justify-center items-center">
        <p v-if="isExpired" class="text-4xl text-red-500 font-bold capitalize p-5 bg-base-200 rounded-lg bg-opacity-50">
            Appointment Has been expired.
        </p>
        <p v-else class="text-4xl text-red-500 font-bold capitalize p-5 bg-base-200 rounded-lg bg-opacity-50">
            Appointment is active.
        </p>
    </div>

</template>

<style scoped>
</style>