<script setup lang="ts">
import { Icon } from "@iconify/vue";
type propsItem = {
    isVertical?: boolean;
}
defineProps<propsItem>();

</script>

<template>
    <div class="grid gap-6 items-center"
        :class="isVertical ? 'grid-cols-1' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3'">
        <div class="flex items-center justify-start">
            <div class="w-[75px] h-[75px] rounded-full bg-primary flex justify-center items-center">
                <Icon icon="eva:pin-outline" class="text-5xl text-black" />
            </div>
            <p class="ml-6 grow">Est duis proident enim ea aliquip Lorem ea.</p>
        </div>
        <div class="flex items-center justify-start">
            <div class="w-[75px] h-[75px] rounded-full bg-primary flex justify-center items-center">
                <Icon icon="clarity:mobile-phone-solid" class="text-5xl text-black" />
            </div>
            <p class="ml-6">123456789 | 123456789</p>
        </div>
        <div class="flex items-center justify-start">
            <div class="w-[75px] h-[75px] rounded-full bg-primary flex justify-center items-center">
                <Icon icon="entypo:mail" class="text-5xl text-black" />
            </div>
            <p class="ml-6">example@gmail.com</p>
        </div>
    </div>
</template>



<style scoped>
</style>