<template>
    <div class="carousel w-full h-[50vh] md:h-screen">
        <div id="slide1"
            class="carousel-item relative flex justify-center lg:justify-end items-center w-full bg-[url('~/assets/images/hero/hero-1.jpg')]">
            <div
                class="lg:w-[50%] prose-h2 space-y-3 md:space-y-6 lg:space-y-12 transform before:-translate-y-8 after:translate-x-0 transition-all duration-300 ease-linear ">
                <h4 class="uppercase font-bold tracking-[0.5em] text-sm md:text-lg">shape your body</h4>
                <h2 class="uppercase text-2xl md:text-5xl lg:text-7xl font-bold">be <span
                        class="text-primary">strong</span> <br> traning
                    hard
                </h2>
                <button class="uppercase btn btn-primary dark:text-gray-800 font-bold">get info</button>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide4" class="btn btn-square disabled:opacity-50" disabled>❮</a>
                <a href="#slide2" class="btn btn-square">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full bg-[url('~/assets/images/hero/hero-2.jpg')]">
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide1" class="btn btn-square">❮</a>
                <a href="#slide3" class="btn btn-square disabled:opacity-50" disabled>❯</a>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts"></script>

<style scoped>
</style>
