<script setup lang="ts">

</script>

<template>
    <NuxtLink to="/">
        <figure>
            <img src="~/assets/images/logo.png" alt="logo"
                class="max-w-[200px] max-h-10 object-contain aspect-[16/6]" />
        </figure>
    </NuxtLink>
</template>


<style scoped>
</style>