<script setup lang="ts">
import { Icon } from "@iconify/vue";
import { MenuItem } from "~~/types/Menu";
import { SocialLinkItem } from "~~/types/SocialMenu";

const usefullLinks: MenuItem[] = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "About us",
    link: "/about-us",
  },
  {
    name: "Services",
    link: "/services",
  },
  {
    name: "our team",
    link: "/our-team",
  },
]

const superLinks: MenuItem[] = [
  {
    name: "Login",
    link: "/login",
  },
  {
    name: "Register",
    link: "/register",
  },
  {
    name: "Contact us",
    link: "/contact-us",
  }
]

const socialMenuLinks: SocialLinkItem[] = [
  {
    name: "Facebook",
    link: "https://www.facebook.com/",
    icon: "bxl:facebook",
  },
  {
    name: "Youtube",
    link: "https://www.youtube.com/",
    icon: "bxl:youtube",
  },
  {
    name: "Instagram",
    link: "https://www.instagram.com/",
    icon: "bxl:instagram-alt",
  },
];
</script>

<template>
  <!-- Info -->
  <div class="bg-black bg-opacity-20">
    <div class=" container py-16">
      <ContactInfo />
    </div>
  </div>
  <!-- End info -->

  <!-- Footer -->
  <div class="bg-black">
    <div class="px-6 md:px-10 lg:px-14 xl:px-24 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
      <div class="md:col-span-2">
        <Logo />
        <p class="my-4">Pariatur voluptate minim exercitation cupidatat dolor. Mollit quis cillum cupidatat culpa labore
          velit minim
          minim labore. Esse aute tempor reprehenderit nostrud aliqua anim anim laboris. Pariatur duis officia labore
          enim reprehenderit sit occaecat laboris laboris proident velit. Qui eiusmod reprehenderit do do.</p>
        <ul class="flex space-x-4">
          <li
            class="transform hover:scale-110 hover:text-primary transition-all duration-200 ease-in-out cursor-pointer"
            v-for="(item, index) in socialMenuLinks" :key="index">
            <NuxtLink :to="item.link">
              <icon :icon="item.icon" class="text-xl" />
            </NuxtLink>
          </li>
        </ul>
      </div>
      <div class="flex flex-col justify-start items-center text-center md:text-left md:items-start">
        <h1 class="font-bold text-2xl tracking-tight capitalize">Useful links</h1>
        <ul class="space-y-2 mt-4">
          <li v-for="(menu, index) in usefullLinks" :key="index">
            <NuxtLink :to="menu.link" class="hover:text-primary transition-colors duration-300 ease-linear">
              {{ menu.name }}
            </NuxtLink>
          </li>
        </ul>
      </div>
      <div class="flex flex-col justify-start items-center text-center md:text-left md:items-start">
        <h1 class="font-bold text-2xl tracking-tight capitalize">Supports</h1>
        <ul class="space-y-2 mt-4">
          <li v-for="(menu, index) in superLinks" :key="index">
            <NuxtLink :to="menu.link" class="hover:text-primary transition-colors duration-300 ease-linear">
              {{ menu.name }}
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End footer -->
  <div class="bg-black">
    <hr class="container border border-gray-700">
  </div>
  <!-- Copyright -->
  <div class="bg-black">
    <div class="container mx-auto py-8 text-center">
      <p class="text-gray-500 text-sm">
        Copyright ©2022 All rights reserved | This template is made with by <span
          class="text-primary font-bold">Colorlib</span>
      </p>
    </div>
  </div>
  <!-- End Copyright -->
</template>



<style scoped>
</style>
