<script setup lang="ts">
import { Icon } from "@iconify/vue";
import { user } from "~~/stores/user";
import { MenuItem } from "~~/types/Menu";
import { SocialLinkItem } from "~~/types/SocialMenu";

//#region menu
const menu: MenuItem[] = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "About us",
    link: "/about-us",
  },
  {
    name: "Services",
    link: "/services",
  },
  {
    name: "our team",
    link: "/our-team",
  },
  {
    name: "contact us",
    link: "/contact-us",
  },
];
//#endregion

//#region social menu
const socialMenu: SocialLinkItem[] = [
  {
    name: "Facebook",
    link: "https://www.facebook.com/",
    icon: "bxl:facebook",
  },
  {
    name: "Youtube",
    link: "https://www.youtube.com/",
    icon: "bxl:youtube",
  },
  {
    name: "Instagram",
    link: "https://www.instagram.com/",
    icon: "bxl:instagram-alt",
  },
];
//#endregion

const isShowMenu = ref(false);

const onMenuClick = () => {
  isShowMenu.value = !isShowMenu.value;
};

const menuIcon = computed(() => (isShowMenu.value ? "eva:close-outline" : "entypo:menu"));

const userStore = user();
const userRole = useUserRole();

const linkName = computed<{ name: string, url: string }>(() => {
  if (userRole.role.value === "supervisor") {
    return {
      url: "/supervisor/dashboard",
      name: "Dashboard",
    };
  } else if (userRole.role.value === "customer") {
    return {
      url: "/customer/dashboard",
      name: "My account",
    };
  } else if (userRole.role.value === "coach") {
    return {
      url: "/coach/dashboard",
      name: "My account",
    };
  } else {
    return {
      url: "/",
      name: "",
    };
  }
})

</script>

<template>
  <div
    class="flex justify-between items-center p-3 py-2 sm:px-5 md:p-8 lg:p-10 xl:p-12 absolute top-0 left-0 right-0 z-10">
    <Logo />
    <div
      class="grow text-center absolute top-0 left-0 w-full flex lg:static lg:-translate-y-0 justify-center items-center transition-transform duration-300 ease-in-out
        bg-base-100 bg-opacity-50 backdrop-blur-lg drop-shadow-lg lg:bg-opacity-100 lg:backdrop-blur-none lg:drop-shadow-none lg:bg-transparent p-12 lg:p-0"
      :class="isShowMenu ? '-translate-y-0' : '-translate-y-full'">
      <ul
        class="block text-left space-y-8 w-full lg:space-y-0 lg:w-auto lg:text-center lg:flex lg:justify-start items-start">
        <li
          class="font-bold px-4 cursor-pointer uppercase transform lg:hover:scale-110 whitespace-nowrap hover:text-primary transition-all duration-200 ease-in-out"
          v-for="(menuItem, index) in menu" :key="index">
          <NuxtLink :to="menuItem.link">
            {{ menuItem.name }}
          </NuxtLink>
        </li>
      </ul>
    </div>
    <div>
      <ul class="flex space-x-4 items-center">
        <li v-if="userStore.credentials"
          class="transform hover:scale-110 hover:text-primary transition-all duration-200 ease-in-out cursor-pointer px-1">
          <NuxtLink :to="linkName.url" class="flex whitespace-nowrap items-center">
            <span class="uppercase font-bold text-sm flex">
              <icon :icon="userRole.role.value == 'supervisor' ? 'mdi:view-dashboard' : 'bxs:user'"
                class="text-xl mr-2" />
              {{ linkName.name }}
            </span>
          </NuxtLink>
        </li>
        <template v-else>
          <li
            class="transform hover:scale-110 hover:text-primary transition-all duration-200 ease-in-out cursor-pointer px-1">
            <NuxtLink to="/login" class="flex whitespace-nowrap items-center">
              <icon icon="line-md:account" class="text-xl mr-2" />
              <span class="uppercase font-bold text-sm">Login</span>
            </NuxtLink>
          </li>
          <li
            class="transform hover:scale-110 hover:text-primary transition-all duration-200 ease-in-out cursor-pointer px-1">
            <NuxtLink to="/register" class="flex whitespace-nowrap items-center">
              <icon icon="line-md:account-add" class="text-xl mr-2" /> <span
                class="uppercase font-bold text-sm">Register</span>
            </NuxtLink>
          </li>
        </template>
        <li
          class="transform hover:scale-110 text-primary transition-all duration-500 ease-in-out cursor-pointer lg:hidden"
          @click="onMenuClick">
          <Icon :icon="menuIcon" class="text-4xl" />
        </li>
      </ul>
    </div>
  </div>
</template>



<style scoped>
</style>
