<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { IRoutePath } from '~~/interfaces/IRoutePath';

const routePath = useRoute();


type props = {
    menuRoutes: IRoutePath[] | null;
    hasChild?: boolean;
}

defineProps<props>();

</script>
<template>
    <ul class="menu w-full">
        <li v-for="(route, index) in menuRoutes" :key="index" :tabindex="route.url"
            class="transition-colors duration-300 ease-linear"
            :class="{ 'collapse collapse-arrow': route?.children, 'bordered': routePath.path == route.url }">
            <NuxtLink :to="route?.children ? route?.children[0].url : route.url"
                :class="{ 'collapse-title': route?.children, 'text-gray-400 hover:text-white': hasChild }">
                <icon :icon="route.icon" class="text-xl mr-2" />
                <span class="capitalize">{{ route.name }}</span>
            </NuxtLink>
            <div class="collapse-content active:bg-opacity-0 p-0 max-h-fit" v-if="route?.children">
                <TheSidebar :menu-routes="route?.children" has-child />
            </div>
        </li>
    </ul>
</template>


<style scoped>
</style>