<script setup lang="ts">
import { Icon } from '@iconify/vue';

</script>

<template>
    <vue-final-modal v-slot="{ params, close }" v-bind="$attrs" ssr esc-to-close attach="body"
        classes="flex justify-center items-center bg bg-glass" overlay-class="bg-glass bg-red-400"
        content-class="relative flex flex-col max-h-full mx-4 border dark:border-gray-800 rounded bg-white dark:bg-gray-900">
        <span class="mr-8 text-2xl font-bold px-6 pt-2">
            <slot name="title"></slot>
        </span>
        <div class="flex-grow overflow-y-auto px-6 pb-6">
            <slot v-bind:params="params"></slot>
        </div>
        <button class="absolute top-0 right-0 mt-2 mr-2" @click="close">
            <Icon icon="ic:baseline-close" class="text-2xl text-primary" />
        </button>
    </vue-final-modal>
</template>

<style scoped>
</style>