<script setup lang="ts">
import { Icon } from '@iconify/vue';
import moment from 'moment';
const route = useRoute();
const addScheduleModal = ref<boolean>(false)
const group = ref<any>(null);

onMounted(async () => {
    const resp = await apiGet(`/api/Group/${route.params.id}`);
    console.log("resp: ", resp);
    if (resp?.statusCode === 200) {
        group.value = resp?.value;
    }
})

</script>

<template>
    <ContainerAccountPage :title="group?.name || ''">
        <div class="flex justify-between items-end">
            <h1 class="text-2xl font-bold uppercase">{{ group?.name }}</h1>
            <div>
                <h3>
                    <span class="mr-2">Coach:</span>
                    <span class="text-primary font-bold capitalize text-lg">
                        {{ group?.coach?.user?.firstName + " " + group?.coach?.user?.lastName }} {{
                                group?.coach?.user?.gender == 1 ? "♂" : "♀"
                        }}
                        <span class="ml-2 text-base"> {{ `(${group?.coach?.specialization?.name})` }}</span>
                    </span>
                </h3>
            </div>
        </div>
        <div class="bg-base-200 p-4 rounded-md bg-opacity-75 w-full mt-4">
            <p>{{ group?.description }}</p>
        </div>
        <div class="mt-6 w-full min-h-[30vh] flex flex-col">
            <div class="flex items-center">
                <h2 class="uppercase font-bold text-primary">Schedules</h2>
                <div class="divider w-full px-6"></div>
            </div>
            <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th class="w-12">#</th>
                            <th>Name</th>
                            <th>Start At</th>
                            <th>End At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr v-for="(schedule, index) in group?.schedules" :key="index">
                            <th>{{ index + 1 }}</th>
                            <td>{{ schedule?.title }}</td>
                            <td class="uppercase">
                                {{ moment(schedule?.startDate).format('DD-MM-YYYY (h:mm a)').toString() }}
                            </td>
                            <td class="uppercase">
                                {{ moment(schedule?.endDate).format('DD-MM-YYYY (h:mm a)').toString() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex grow justify-center items-center">
                <ContentEmpty :show="!group?.schedules?.length" message="No Schedule Yet!" />
            </div>
        </div>
        <div class="mt-6 w-full min-h-[30vh] flex flex-col">
            <div class="flex items-center">
                <h2 class="uppercase font-bold text-primary">Customers</h2>
                <div class="divider w-full px-6"></div>
            </div>
            <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th class="w-12">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr v-for="(customerGroup, index) in group?.customerGroups" :key="index">
                            <th>{{ index + 1 }}</th>
                            <td class="capitalize">
                                {{ customerGroup?.customer?.user?.firstName + " " +
                                        customerGroup?.customer?.user?.lastName
                                }}
                            </td>
                            <td>{{ customerGroup?.customer?.user?.email }}</td>
                            <td>{{ customerGroup?.customer?.user?.phoneNumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex grow justify-center items-center">
                <ContentEmpty :show="!group?.customerGroups?.length" message="No Customer Yet!" />
            </div>
        </div>
    </ContainerAccountPage>
</template>


<style scoped>
</style>
