<script setup lang="ts">
import { user } from '~~/stores/user';

definePageMeta({
    middleware: ["auth-coach"],
    layout: 'auth'
})

</script>

<template>
    <div class="flex flex-col grow pb-6">
        <NuxtPage />
    </div>
</template>

<style scoped>
</style>