<script setup lang="ts">
import { Icon } from "@iconify/vue";
import { user } from "~~/stores/user";
import { CategoryItem } from "~~/types/Category";
import { FeatureItem } from "~~/types/Feature";
import { PricesPlanItem } from "~~/types/PricesPlan";

const coaches = ref<any[]>([]);

useHead({
  title: "Home"
})

onMounted(async () => {
  const resp = await apiGet("/api/User/Coaches");
  if (resp?.statusCode === 200) {
    coaches.value = resp?.value;
  }
  console.log(coaches.value);
});


//#region why chose us list
const rewards: FeatureItem[] = [
  {
    title: "Modern equipment",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "icon-park-solid:iron",
  },
  {
    title: "Healthy nutrition plan",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "healthicons:nutrition",
  },
  {
    title: "Proffesponal training plan",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "map:gym",
  },
  {
    title: "Unique to your needs",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "bi:heart-pulse-fill",
  },
];
//#endregion

//#region our classes
const classes: CategoryItem[] = [
  {
    category: "STRENGTH",
    title: "Weightlifting",
    image: "https://api.lorem.space/image/shoes?w=400&h=225",
    url: "#",
  },
  {
    category: "STRENGTH",
    title: "CARDIO",
    image: "https://api.lorem.space/image/shoes?w=400&h=225",
    url: "#",
  },
  {
    category: "STRENGTH",
    title: "Weightlifting",
    image: "https://api.lorem.space/image/shoes?w=400&h=225",
    url: "#",
  },
  {
    category: "STRENGTH",
    title: "Weightlifting",
    image: "https://api.lorem.space/image/shoes?w=400&h=225",
    url: "#",
  },
];
//#endregion

//#region prices plan
const prices: PricesPlanItem[] = [
  {
    type: "Class drop-in",
    price: 39.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  },
  {
    type: "12 Month unlimited",
    price: 99.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  },
  {
    type: "6 Month unlimited",
    price: 59.0,
    feature: "SINGLE CLASS",
    featureList: ["Free riding", 'Unlimited equipments', 'Personal trainer', 'Weight losing classes', 'Month to mouth'],
  }
]
//#endregion

const userStore = user()

</script>

<template>
  <div>
    <hero />
    <!-- Why chose us? -->
    <WrapperSection title="Why chose us?" tagline="PUSH YOUR LIMITS FORWARD" :bg-black="true">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 items-start">
        <li v-for="(reward, index) in rewards" :key="index">
          <CardFeature :items="reward" />
        </li>
      </ul>
    </WrapperSection>
    <!-- End Why chose us? -->

    <!-- Our Classes -->
    <WrapperSection title="OUR CLASSES" tagline="WHAT WE CAN OFFER">
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        <li v-for="(item, index) in classes" :key="index">
          <CardCategoryFeature :items="item" />
        </li>
      </ul>
    </WrapperSection>
    <!-- End our classes -->

    <CTARegister v-show="!userStore.credentials" />

    <!-- Our Plans -->
    <WrapperSection bg-full title="OUR PLAN" tagline="CHOOSE YOUR PRICING PLAN">
      <ul class="grid grid-flow-col auto-cols-max lg:justify-center gap-6 container overflow-auto snap-x">
        <li v-for="(price, index) in prices" :key="index" class="snap-center mb-4">
          <CardPrice :items="price" />
        </li>
      </ul>
    </WrapperSection>
    <!-- End our plans -->


    <!-- Trainer -->
    <WrapperSection title="OUR TEAM" tagline="TRAIN WITH EXPERTS" pass-action>
      <ul class="carousel  grid-cols-3  carousel-center space-x-4">
        <li v-for="(coach, index) in coaches" :key="index" :id="`${index + '0'}`" class=" carousel-item ">
          <CardTrainer :items="coach" width="w-[280px]" />
        </li>
      </ul>
      <div class="flex justify-center w-full py-4 gap-2">
        <a v-for="(coach, index) in coaches" :key="index" :href="`#${index + '0'}`"
          class="w-2 h-2 bg-white rounded-lg"></a>
      </div>
    </WrapperSection>

    <!-- End trainer -->

  </div>
</template>



<style scoped>
</style>
