<script setup lang="ts">

definePageMeta({
    middleware: ["auth-supervisor"],
    layout: 'auth'
})

</script>

<template>
    <div class="flex flex-col grow pb-6">
        <NuxtPage />
    </div>
</template>

<style scoped>
</style>