<script setup lang="ts">

type props = {
    title: string | string[] | undefined;
    icon?: string;
    description?: string;
}

const pageProps = defineProps<props>();

useHead({
    title: computed(() => pageProps.title),
    meta: [
        {
            name: `description`,
            content: computed(() => pageProps.description),
        },
    ],
})

</script>

<template>
    <div class="flex flex-col grow container mt-4 sm:mt-6 md:mt-8 lg:mt-10">
        <slot />
    </div>
</template>


<style scoped>
</style>