<script setup lang="ts">
import { FeatureItem } from '~~/types/Feature';
import { TrainerItem } from '~~/types/Trainer';

const trainers = ref<any[]>([])

onMounted(async () => {
  const resp = await coachGetAll();
  if (resp) {
    trainers.value = resp;
  }
})


//#region why chose us list
const rewards: FeatureItem[] = [
  {
    title: "Modern equipment",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "icon-park-solid:iron",
  },
  {
    title: "Healthy nutrition plan",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "healthicons:nutrition",
  },
  {
    title: "Proffesponal training plan",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "map:gym",
  },
  {
    title: "Unique to your needs",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.",
    icon: "bi:heart-pulse-fill",
  },
];
//#endregion

//#region DoneProgress
type ProgressItem = {
  title: string;
  percent: number;
}
const doneProgress: ProgressItem[] = [
  {
    title: "Body building",
    percent: 80,
  },
  {
    title: "Training",
    percent: 85,
  },
  {
    title: "Fitness",
    percent: 75,
  },
]
//#endregion


</script>

<template>
  <WrapperPage title="About Us" bg-image-class="bg-[url('~/assets/images/breadcrumb-bg.jpg')]">
    <!-- Why chose us? -->
    <WrapperSection title="Why chose us?" tagline="PUSH YOUR LIMITS FORWARD" :bg-black="true">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 items-start">
        <li v-for="(reward, index) in rewards" :key="index">
          <CardFeature :items="reward" />
        </li>
      </ul>
    </WrapperSection>
    <!-- End Why chose us? -->

    <!-- About us -->
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="bg-[url('~/assets/images/about-us.jpg')] bg-no-repeat object-cover"></div>
      <div class="px-4 md:px-8 lg:px-12 xl:px-16 py-16 lg:py-24">
        <h2 class="text-sm md:text-base font-bold uppercase tracking-widest text-primary">ABOUT US</h2>
        <h2 class="text-xl md:text-2xl lg:text-4xl font-bold tracking-tight">WHAT WE HAVE DONE</h2>

        <p class="my-6 text-gray-400">Enim magna Lorem laboris enim exercitation occaecat esse Lorem. Sunt pariatur ut
          tempor esse
          deserunt dolor
          ad est id irure. Id mollit esse ex esse. Deserunt adipisicing aute laboris nisi est consectetur quis magna
          elit occaecat velit quis velit ipsum. Ut fugiat ut sint aute et labore.</p>

        <div>
          <ul class="space-y-6">
            <li v-for="(item, index) in doneProgress" :key="index">
              <div class="flex justify-between items-end">
                <p>{{ item.title }}</p>
                <p>{{ item.percent }}%</p>
              </div>
              <progress :value="item.percent" max="100" class="progress progress-primary bg-base-200 h-1"></progress>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- End About us -->

    <!-- Trainer -->
    <WrapperSection title="OUR TEAM" tagline="TRAIN WITH EXPERTS" pass-action>
      <ul class="carousel  grid-cols-3  carousel-center space-x-4">
        <li v-for="(trainer, index) in trainers" :key="index" :id="`${index + '0'}`" class=" carousel-item ">
          <CardTrainer :items="trainer" width="w-[280px]" />
        </li>
      </ul>
      <div class="flex justify-center w-full py-4 gap-2">
        <a v-for="(trainer, index) in trainers" :key="index" :href="`#${index + '0'}`"
          class="w-2 h-2 bg-white rounded-lg"></a>
      </div>
    </WrapperSection>
    <!-- End trainer -->

    <CTARegister />

  </WrapperPage>
</template>



<style scoped>
</style>