<script setup lang="ts">

useHead({
    title: "Forgot Password",
})


</script>


<template>
    <div class="container-full mt-16 min-h-[50vh] flex flex-col justify-center items-center">
        <h1 class="text-2xl font-bold">Forgot password will be implement later.</h1>
        <p class="text-primary text-xl">It needs to confirm by OTP ot Email.</p>
    </div>
</template>



<style scoped>
</style>