<script setup lang="ts">
type props = {
    show: boolean;
    message: string;
}
defineProps<props>();
</script>
<template>
    <div v-show="show" class="grow flex justify-center items-center">
        <h1 class="text-3xl font-bold capitalize">{{ message }}</h1>
        <slot />
    </div>
</template>


<style scoped>
</style>