<script setup lang="ts">
import { INPUT_TYPE } from '~~/enum/index.js';
import { object, string, ref as yupRef } from 'yup'
import { passwordRegExp } from '~~/utils/regExp.js';
import { IChangePassword } from '~~/interfaces/IUser.js';

const isSubmitting = ref<boolean>(false);

definePageMeta({
    layout: "auth",
    middleware: ["auth"],
})

const schema = object().shape({
    currentPassword: string().required(),
    newPassword: string().required().min(6).matches(passwordRegExp,
        "Must Contain 8 Characters, One Uppercase, One Lowercase, One Number and One Special Case Character"),
    passwordConfirm: string().required().oneOf([yupRef('newPassword')], 'Passwords must match'),
})

const onSubmit = async (values, { resetForm }) => {
    isSubmitting.value = true;
    const data: IChangePassword = {
        currentPassword: values.currentPassword,
        newPassword: values.newPassword,
    }
    const success = await changePassword(data);
    if (success) {
        resetForm();
    }
    isSubmitting.value = false;
}

</script>

<template>
    <ContainerAccountPage title="Change Password">
        <div class="flex justify-end ml-0 items-end">
            <h1 class="text-secondary font-bold text-xl uppercase grow">Change Password</h1>
        </div>
        <div class="mt-6">
            <VeeForm :validation-schema="schema" @submit="onSubmit">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                    <InputText :type="INPUT_TYPE.password" name="currentPassword" label="Current Password"
                        placeholder="Current Password" :disabled="isSubmitting" />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                    <InputText :type="INPUT_TYPE.password" name="newPassword" label="New Password"
                        placeholder="New Password" :disabled="isSubmitting" />
                    <InputText :type="INPUT_TYPE.password" name="passwordConfirm" label="Confirm Password"
                        placeholder="Confirm Password" :disabled="isSubmitting" />
                </div>
                <button type="submit" class="btn btn-primary w-full mt-6"
                    :class="{ 'loading btn-disabled': isSubmitting }">Submit</button>
            </VeeForm>
        </div>
    </ContainerAccountPage>
</template>

<style scoped>
</style>