<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useModal, useToast } from 'tailvue';
import { user } from '~~/stores/user.js';

const { $toast, $modal } = useNuxtApp();
const userStore = user()
const appointments = ref<any[]>([]);

onMounted(async () => {
    const resp = await apiGet(`/api/Appointment/Coach/${userStore.credentials?.user?.id}`);
    if (resp?.statusCode === 200) {
        appointments.value = resp?.value;
    }
});

const showModalDelete = (appointment) => {
    // statusToDelete.value = statusToDel;
    useModal().show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This appointment will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleDelete(appointment),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
            action: () => { },
        },
    })
}

const handleDelete = async (appointment) => {
    const resp = await apiDelete('/api/Appointment', appointment?.id);
    console.log("resp: ", resp);
    if (resp?.statusCode == 204) {
        const newAppointments = appointments.value.filter(a => a.id !== appointment?.id);
        appointments.value = newAppointments;
        useToast().success(resp?.value);
    } else {
        useToast().danger(resp?.value);
    }
}

</script>

<template>
    <ContainerAccountPage title="Appointments">
        <div class="flex justify-end ml-0 items-end">
            <h1 class="text-secondary font-bold text-xl uppercase grow">Appointments</h1>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12">#</th>
                        <th>Name</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(appointment, index) in appointments" :key="index">
                        <th>{{ index }}</th>
                        <td class="capitalize">{{ appointment?.title }}</td>
                        <td class="space-x-2 flex items-center ">
                            <button class="btn btn-square btn-sm btn-error btn-outline"
                                @click="showModalDelete(appointment)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <NuxtLink
                                :to="{ name: 'coach-appointments-id', params: { id: appointment?.id, name: appointment?.title } }"
                                class="btn btn-sm btn-primary btn-outline">
                                View Details
                            </NuxtLink>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!appointments.length" message="No Appointment yet" />
    </ContainerAccountPage>
</template>


<style scoped>
</style>