<script setup lang="ts">
type propsItem = {
    title: string;
    bgImageClass?: string; //'bg-[url('https://api.lorem.space/image/shoes?w=400&h=225')]'
}
const props = defineProps<propsItem>();

useHead({
    title: props.title
})

</script>

<template>
    <div class="min-h-[90vh]">
        <div :class="bgImageClass || `bg-gradient-to-r from-teal-700 to-primary`"
            class="min-h-[50vh] bg-no-repeat bg-cover object-cover flex flex-col justify-center items-center">
            <h1 class="tracking-tight text-xl md:text-2xl lg:text-4xl uppercase font-bold mt-12 text-primary">
                {{ title || "No title" }}
            </h1>
        </div>
        <slot></slot>
    </div>
</template>



<style scoped>
</style>