<script setup lang="ts">
type props = {
  title?: string;
  tagline?: string;
  bgBlack?: boolean;
  bgFull?: boolean;
  passAction?: boolean;
};
defineProps<props>();

</script>

<template>
  <div :class="`py-6 sm:py-8 md:py-10 lg:py-14 xl:py-16 ${bgBlack ? 'bg-black' : 'bg-base-100'}`">
    <div :class="`${bgFull || 'container'} mx-auto flex flex-col items-center`">
      <div :class="passAction && 'flex justify-between items-end w-full'">
        <div :class="passAction ? 'text-left' : 'text-center'" v-if="title || tagline">
          <h3 v-if="title" class="uppercase font-semibold text-sm md:text-base lg:text-lg tracking-wider text-primary">
            {{ title }}
          </h3>
          <h2 v-if="tagline" class="uppercase font-bold text-xl md:text-2xl lg:text-3xl mt-2 tracking-tight">
            {{ tagline }}
          </h2>
        </div>
        <slot name="btnAction" class="grow"></slot>
      </div>
      <div class="mt-16 w-full">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>
