<script setup lang="ts">
import { user } from '~~/stores/user.js';


const userStore = user()

</script>

<template>
    <ContainerAccountPage title="Dashboad">
        <div class="grow flex justify-center items-center">
            <h2 class="text-2xl capitalize">
                Welcome <span class="font-bold text-primary text-3xl uppercase">{{
                        userStore.credentials?.user?.firstName
                }}</span>!
            </h2>
        </div>
    </ContainerAccountPage>
</template>

<style scoped>
</style>