<script setup lang="ts">
type propsItem = {
    title?: string;
    tagline?: string;
    btnText?: string;
    bgImage?: string;
};
const props = defineProps<propsItem>()

const background = computed(() => {
    return props.bgImage ? `bg-[url('${props.bgImage}')]` : `bg-[url('~/assets/images/banner-bg.jpg')]`;
});

</script>

<template>
    <div :class="`${background} bg-no-repeat bg-cover h-[50vh]`">
        <div class="bg-black bg-opacity-50 h-full flex justify-center items-center">
            <div class="container flex flex-col justify-center items-center mx-auto">
                <h2 class="uppercase font-bold tracking-tight text-lg sm:text-2xl md:text-3xl lg:text-4xl text-white">
                    {{ title || "REGISTRATION NOW TO GET MORE DEALS" }}
                </h2>
                <p class="uppercase font-bold text-sm md:text-base lg:text-lg mt-4 text-gray-300">
                    {{ tagline || "WHERE HEALTH, BEAUTYANDFITNESS MEET." }}
                </p>
                <div class="mt-8">
                    <NuxtLink to="/customer/appointments/create"
                        class="uppercase font-bold btn btn-outline btn-primary">
                        {{ btnText || 'Appointment' }}
                    </NuxtLink>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
</style>