<script setup lang="ts">

type textInputProps = {
    name?: string;
    label: string;
    disabled?: boolean;
}

defineProps<textInputProps>();

</script>

<template>

    <VeeField :name="name" v-slot="{ field, meta, errors }" class="form-control">
        <label class="label justify-start cursor-pointer">
            <input :name="name" type="checkbox" v-bind="field" :value="true" class="checkbox checkbox-primary"
                :class="{ 'pointer-events-none': disabled }" />
            <span class="label-text ml-4">{{ label }}</span>
            <VeeErrorMessage :name="name" as="p" class="help text-warning ml-4" />
        </label>
    </VeeField>
</template>



<style>
</style>