<script setup lang="ts">

type textInputProps = {
    name?: string;
    label: string;
    disabled?: boolean;
    options: {
        label: string;
        value: string | number;
    }[];
    required?: boolean;
}

defineProps<textInputProps>();

</script>

<template>
    <VeeField :name="name" v-slot="{ field, meta, errors }">
        <div>
            <label :for="name" class="text-primary capitalize">{{ label }}{{ required ? "*" : "" }}</label>
            <select class="select select-primary w-full text-base-content" :id="name" v-bind="field"
                :class="{ 'select-disabled pointer-events-none border-none': disabled, 'select-error': !meta.valid && meta.touched }">
                <option disabled selected>Select {{ label }}</option>
                <option v-for="(option, index) in options" :key="index" :value="option.value">{{ option.label }}
                </option>
            </select>
            <VeeErrorMessage :name="name" as="p" class="help text-warning" />
        </div>
    </VeeField>
</template>



<style>
</style>