<script setup lang="ts">

type textInputProps = {
    name?: string;
    label?: string;
    placeholder?: string;
    leftIcon?: string;
    disabled?: boolean;
    required?: boolean;
}

defineProps<textInputProps>();

</script>

<template>
    <VeeField :name="name" v-slot="{ field, meta, errors }">
        <div class="form-control">
            <label v-show="label" class="text-primary capitalize">{{ label }} {{ required ? "*" : "" }} </label>
            <textarea :placeholder="placeholder" :id="name" v-bind="field"
                class="textarea textarea-bordered textarea-primary w-full min-h-16"
                :class="{ 'input-error': !meta.valid && meta.touched, 'input-disabled pointer-events-none': disabled }" />
            <VeeErrorMessage :name="name" as="p" class="help text-warning" />
        </div>
    </VeeField>
</template>



<style>
</style>