<script setup lang="ts">
import { INPUT_TYPE } from '~~/enum';

type textInputProps = {
    type?: INPUT_TYPE;
    name?: string;
    label?: string;
    placeholder?: string;
    leftIcon?: string;
    disabled?: boolean;
    required?: boolean;
}

defineProps<textInputProps>();

</script>

<template>
    <VeeField :name="name" v-slot="{ field, meta, errors }">
        <div>
            <label v-show="label" :for="name" class="text-primary capitalize">{{ label }} {{ required ? "*" : ""
            }}</label>
            <input :type="type || 'text'" :placeholder="placeholder" :id="name" v-bind="field"
                class="input input-bordered input-primary w-full"
                :class="{ 'input-error': !meta.valid && meta.touched, 'input-disabled pointer-events-none': disabled }" />
            <VeeErrorMessage :name="name" as="p" class="help text-warning" />
        </div>
    </VeeField>
</template>



<style>
</style>