<script setup lang="ts">
import { Icon } from '@iconify/vue';
import moment from 'moment';
import { useModal, useToast } from 'tailvue';
import { object, string } from 'yup'
import { ISelect } from '~~/interfaces/IInput.js';

const route = useRoute();
const addScheduleModal = ref<boolean>(false)
const addCustomerModal = ref<boolean>(false)
const group = ref<any>(null);
const customers = ref<ISelect[]>([]);


const now = moment().format('DD-MM-YYYY h:mm a');
const now30 = moment().add(30, 'minutes').format('DD-MM-YYYY h:mm a');


const startDate = ref(now)
const endDate = ref(now30)

const minDateStart = ref(now)
const minDateEnd = ref(now30)
console.log("minDate: ", minDateStart.value);

const isSubmitting = ref<boolean>(false);

onMounted(async () => {
    const resp = await apiGet(`/api/Group/${route.params.id}`);
    console.log("resp: ", resp);
    if (resp?.statusCode === 200) {
        group.value = resp?.value;
    }

    const respCustomer = await customerGetAll();
    customers.value = customerMapToSelect(respCustomer);
})

const customerToGroupSchema = object().shape({
    customerId: string().required('Customer is required'),
})

const onSubmitCustomerToGroup = async (values, { resetForm }) => {

    const data = {
        customerId: values.customerId,
        groupId: route.params.id,
    }

    const reps = await apiPost('/api/Group/JoinCustomer', data);
    console.log("reps: ", reps);
    if (reps?.statusCode == 200) {
        const newCustomer = await customerGetById(values.customerId);
        console.log("customer: ", newCustomer);
        if (newCustomer) {
            group.value = { ...group.value, customerGroups: [...group.value.customerGroups, { customer: newCustomer }] };
            console.log('group: ', group.value);
        }
        useToast().success(reps?.value);
    } else {
        useToast().danger(reps?.value || "Something went wrong!");
    }

    addCustomerModal.value = false;
}

const schema = object().shape({
    title: string().required().min(2).max(50),
})

const onSubmitAddSchedule = async (values, { resetForm }) => {
    isSubmitting.value = true;
    const data = {
        title: values.title,
        startDate: moment(startDate.value).toISOString(),
        endDate: moment(endDate.value).toISOString(),
        groupId: route.params?.id,
    }

    const resp = await apiPost("/api/Schedule", data);
    if (resp?.statusCode == 201) {
        group.value?.schedules?.push(resp?.value);
        useToast().success("Schedule created successfully")
        resetForm();
    } else {
        useToast().danger(resp?.value || "Something went wrong!");
    }
    isSubmitting.value = false;
    addScheduleModal.value = false;
}

const showModalDeleteSchedule = (schedule: any) => {
    useModal().show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This status will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleDelete(schedule),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
            action: () => { },
        },
    })
}

const handleDelete = async (schedule) => {
    const resp = await apiDelete("/api/Schedule", schedule?.id);
    if (resp?.statusCode == 204) {
        const newGroup = group.value?.schedules?.filter(item => item.id !== schedule.id);
        group.value = { ...group.value, schedules: newGroup };
        useToast().show(resp?.value)
    } else {
        useToast().show('Error deleting status');
    }
}


const showModalDeleteCustomer = async (customer) => {
    useModal().show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This customer will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleRemoveCustomerGroup(customer),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
            action: () => { },
        },
    })
}

const handleRemoveCustomerGroup = async (customer) => {
    const data = {
        customerId: customer.id,
        groupId: route.params.id,
    }
    const resp = await apiPost("/api/Group/RemoveCustomerGroup", data);
    if (resp?.statusCode == 200) {
        const newGroup = group.value?.customerGroups?.filter(item => item.customer.id !== customer.id);
        group.value = { ...group.value, customerGroups: newGroup };
        useToast().success(resp?.value)
    } else {
        useToast().danger(resp?.value || 'Error deleting status');
    }
}

</script>

<template>
    <ContainerAccountPage :title="group?.name || ''">
        <div class="flex justify-between items-end">
            <h1 class="text-2xl font-bold uppercase">{{ group?.name }}</h1>
            <div>
                <h3>
                    <span class="mr-2">Coach:</span>
                    <span class="text-primary font-bold capitalize text-lg">
                        {{ group?.coach?.user?.firstName + " " + group?.coach?.user?.lastName }} {{
                                group?.coach?.user?.gender == 1 ? "♂" : "♀"
                        }}
                        <span class="ml-2 text-base"> {{ `(${group?.coach?.specialization?.name})` }}</span>
                    </span>
                </h3>
            </div>
        </div>
        <div class="bg-base-200 p-4 rounded-md bg-opacity-75 w-full mt-4">
            <p>{{ group?.description }}</p>
        </div>
        <div class="mt-6 w-full min-h-[30vh] flex flex-col">
            <div class="flex items-center">
                <h2 class="uppercase font-bold text-primary">Schedules</h2>
                <div class="divider w-full px-6"></div>
                <button class="btn btn-primary btn-sm btn-outline" @click="addScheduleModal = !addScheduleModal">
                    <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                    Add Schedule
                </button>
            </div>
            <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th class="w-12">#</th>
                            <th>Name</th>
                            <th>Start At</th>
                            <th>End At</th>
                            <th class="w-24">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr v-for="(schedule, index) in group?.schedules" :key="index">
                            <th>{{ index + 1 }}</th>
                            <td>{{ schedule?.title }}</td>
                            <td class="uppercase">
                                {{ moment(schedule?.startDate).format('DD-MM-YYYY (h:mm a)').toString() }}
                            </td>
                            <td class="uppercase">
                                {{ moment(schedule?.endDate).format('DD-MM-YYYY (h:mm a)').toString() }}
                            </td>
                            <td class="space-x-2 flex items-center ">
                                <button class="btn btn-square btn-sm btn-error btn-outline"
                                    @click="showModalDeleteSchedule(schedule)">
                                    <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex grow justify-center items-center">
                <ContentEmpty :show="!group?.schedules?.length" message="No Schedule Yet!" />
            </div>
        </div>
        <div class="mt-6 w-full min-h-[30vh] flex flex-col">
            <div class="flex items-center">
                <h2 class="uppercase font-bold text-primary">Customers</h2>
                <div class="divider w-full px-6"></div>
                <button class="btn btn-primary btn-sm btn-outline" @click="addCustomerModal = !addCustomerModal">
                    <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                    Add Customer
                </button>
            </div>
            <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th class="w-12">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th class="w-24">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr v-for="(customerGroup, index) in group?.customerGroups" :key="index">
                            <th>{{ index + 1 }}</th>
                            <td class="capitalize">
                                {{ customerGroup?.customer?.user?.firstName + " " +
                                        customerGroup?.customer?.user?.lastName
                                }}
                            </td>
                            <td>{{ customerGroup?.customer?.user?.email }}</td>
                            <td>{{ customerGroup?.customer?.user?.phoneNumber }}</td>
                            <td class="space-x-2 flex items-center ">
                                <button class="btn btn-square btn-sm btn-error btn-outline"
                                    @click="showModalDeleteCustomer(customerGroup?.customer)">
                                    <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                                </button>
                                <!-- <button class="btn btn-sm btn-outline btn-warning"
                                    @click="showModalUpdate(item)">Update</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex grow justify-center items-center">
                <ContentEmpty :show="!group?.customerGroups?.length" message="No Customer Yet!" />
            </div>
        </div>

        <VFModal v-model="addCustomerModal">
            <template #title>
                <h2>Add Customer To Group</h2>
            </template>
            <div class="min-h-[200px] min-w-[500px]">
                <VeeForm :validation-schema="customerToGroupSchema" @submit="onSubmitCustomerToGroup"
                    class="space-y-4 mt-12">
                    <div>
                        <InputSelect name="customerId" label="Select Customer" :options="customers" />
                        <!-- <InputText name="title" label="title" placeholder="Title" required :disabled="isSubmitting" /> -->
                    </div>
                    <button type="submit" class="btn btn-primary btn-outline w-full mt-6"
                        :class="{ 'btn loading': isSubmitting }">
                        Add To Group
                    </button>
                </VeeForm>
            </div>
        </VFModal>

        <VFModal v-model="addScheduleModal">
            <template #title>
                <h2>Add Schedule</h2>
            </template>
            <div class="min-h-[700px] min-w-[500px]">
                <VeeForm :validation-schema="schema" @submit="onSubmitAddSchedule" class="space-y-4 mt-6">
                    <div>
                        <InputText name="title" label="title" placeholder="Title" required :disabled="isSubmitting" />
                    </div>
                    <div>
                        <label for="startDate">Start Date</label>
                        <DateTimePicker :min-date="minDateStart" no-label no-clear-button format="DD-MM-YYYY h:mm a"
                            :disabled="isSubmitting" formatted="DD-MM-YYYY h:mm a" input-size="lg" dark
                            button-color="#F56200" color="#F56200" minute-interval="10" id="startDate"
                            :inititale-value="startDate" v-model="startDate" />
                    </div>
                    <div>
                        <label for="endDate">End Date</label>
                        <DateTimePicker no-label :min-date="minDateEnd" no-clear-button format="DD-MM-YYYY h:mm a"
                            :disabled="isSubmitting" formatted="DD-MM-YYYY h:mm a" input-size="lg" dark
                            button-color="#F56200" color="#F56200" minute-interval="10" id="endDate"
                            :inititale-value="endDate" v-model="endDate" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-outline w-full"
                        :class="{ 'btn loading': isSubmitting }">
                        Add Schedule
                    </button>
                </VeeForm>
            </div>
        </VFModal>
    </ContainerAccountPage>
</template>


<style scoped>
</style>
