<script setup lang="ts">
import { object, string } from 'yup'
import { ICreateGroup } from '~~/interfaces/IGroup';

const { $toast } = useNuxtApp();
const router = useRouter();
const isSubmitting = ref<boolean>(false);

const coaches = ref<any[]>([])

const initialValues: ICreateGroup = {
    name: '',
    description: '',
    coachId: '',
}

onMounted(async () => {
    const resp = await coachGetAll();
    if (resp?.length > 0) {
        coaches.value = coachMapToSelete(resp);
    }
})

const schema = object().shape({
    name: string().required('Name is required').min(2).max(100),
    description: string(),
    coachId: string().required('Coach is required'),
})

const onSubmit = async (values: ICreateGroup, { resetForm }) => {
    isSubmitting.value = true;
    const resp = await apiPost('/api/Group', values);
    console.log(resp);
    if (resp?.statusCode === 201) {
        $toast.show({
            message: 'Group created successfully',
            type: 'success',
        });
        router.push('/supervisor/groups');
    } else {
        $toast.show({
            message: resp?.value,
            type: 'danger',
        });
    }
    resetForm();
    isSubmitting.value = false;
}

</script>

<template>
    <ContainerAccountPage title="Create Group">
        <div>
            <h1 class="text-xl font-bold uppercase text-secondary">Create New Group</h1>
        </div>
        <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <InputText name="name" label="name" placeholder="First Name" required :disabled="isSubmitting" />
                <InputSelect name="coachId" label="Coach" :options="coaches" required :disabled="isSubmitting" />
            </div>
            <div class="mt-3">
                <InputTextArea name="description" label="description" placeholder="Group description"
                    :disabled="isSubmitting" />
            </div>
            <button type="submit" class="btn btn-primary  mt-6 w-full"
                :class="{ 'loding btn-disabled': isSubmitting }">Create Group
            </button>
        </VeeForm>
    </ContainerAccountPage>
</template>


<style scoped>
</style>