<script setup lang="ts">
import { Icon } from '@iconify/vue';

const { $toast, $modal } = useNuxtApp();
const groups = ref<any[]>([]);

onMounted(async () => {
    const resp = await apiGet("/api/Group");
    if (resp?.statusCode === 200) {
        groups.value = resp?.value;
    }
    console.log(groups.value);
});

const showModalDelete = (group: any) => {
    // statusToDelete.value = statusToDel;
    $modal.show({
        type: 'danger',
        title: 'Confirm delete',
        body: 'This group will be deleted permanently.',
        primary: {
            label: 'Confirm',
            theme: 'red',
            action: async () => await handleDelete(group),
        },
        secondary: {
            label: 'Cancel',
            theme: 'white',
        },
    })
}

const handleDelete = async (group) => {
    const resp = await apiDelete(`/api/Group`, group?.id);
    if (resp?.statusCode === 200) {
        $toast.show({
            message: 'Group deleted successfully',
            type: 'success',
        });
        groups.value = groups.value.filter(g => g.id !== group?.id);
    } else {
        $toast.show({
            message: resp?.value,
            type: 'danger',
        });
    }
}

</script>

<template>
    <ContainerAccountPage title="Appointments">
        <div class="flex justify-end ml-0 items-end">
            <h1 class="text-secondary font-bold text-xl uppercase grow">Groups</h1>
            <NuxtLink to="/supervisor/groups/create" class="btn btn-outline btn-primary">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Group
            </NuxtLink>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(group, index) in groups" :key="index" class="hover">
                        <th class="w-12">{{ index + 1 }}</th>
                        <td class="capitalize">{{ group?.name }}</td>
                        <td class="space-x-2 flex items-center ">
                            <button class="btn btn-square btn-sm btn-error btn-outline" @click="showModalDelete(group)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <NuxtLink :to="{
                                name: 'supervisor-groups-update',
                                params: { id: group?.id },
                            }" class="btn btn-sm btn-primary btn-outline">Update</NuxtLink>
                            <NuxtLink :to="`/supervisor/groups/${group.id}`" class="btn btn-sm btn-outline">
                                view details
                            </NuxtLink>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!groups.length" message="No Group yet" />
    </ContainerAccountPage>
</template>


<style scoped>
</style>