<script setup lang="ts">
import { object, string } from 'yup'
import { ICreateGroup } from '~~/interfaces/IGroup.js';

const route = useRoute()
const router = useRouter()
const { $toast } = useNuxtApp()


const isSubmitting = ref<boolean>(false)
const group = ref<any>(null);
const coaches = ref<any[]>([]);
const initialValues = ref<ICreateGroup | null>(null)

onMounted(async () => {
    const resp = await apiGet(`/api/Group/${route.params.id}`);
    if (resp?.statusCode === 200) {
        group.value = resp?.value;
        initialValues.value = {
            name: group.value?.name,
            description: group.value?.description,
            coachId: group.value?.coachId,
        }
    }

    const respCoaches = await coachGetAll();
    if (respCoaches?.length > 0) {
        coaches.value = coachMapToSelete(respCoaches);
    }
})

const schema = object().shape({
    name: string().required('Name is required').min(2).max(100),
    description: string(),
    coachId: string().required('Coach is required'),
})

const onSubmit = async (values, { resetForm }) => {
    isSubmitting.value = true;
    const data = {
        ...values,
        id: route.params.id,
    }
    const resp = await apiPut(`/api/Group/${route.params.id}`, data);
    console.log(resp);
    if (resp?.statusCode === 200) {
        $toast.show({
            message: 'Group updated successfully',
            type: 'success',
        });
        router.push('/supervisor/groups');
    } else {
        $toast.show({
            message: resp?.value,
            type: 'danger',
        });
    }
    resetForm();
    isSubmitting.value = false;
}

</script>

<template>
    <ContainerAccountPage title="Update Group">
        <div>
            <h1 class="text-xl font-bold uppercase text-secondary">Update Group</h1>
        </div>
        <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <InputText name="name" label="name" placeholder="First Name" required :disabled="isSubmitting" />
                <InputSelect name="coachId" label="Coach" :options="coaches" required :disabled="isSubmitting" />
            </div>
            <div class="mt-3">
                <InputTextArea name="description" label="description" placeholder="Group description"
                    :disabled="isSubmitting" />
            </div>
            <button type="submit" class="btn btn-primary  mt-6 w-full"
                :class="{ 'loding btn-disabled': isSubmitting }">Save Changes
            </button>
        </VeeForm>
    </ContainerAccountPage>
</template>


<style scoped>
</style>