<script setup lang="ts">

const trainers = ref<any[]>();

onMounted(async () => {
  const resp = await coachGetAll();
  if (resp) {
    trainers.value = resp;
  }
})

</script>


<template>
  <WrapperPage title="Our Team" bg-image-class="bg-[url('~/assets/images/breadcrumb-bg.jpg')]">
    <!-- Trainer -->
    <WrapperSection title="OUR TEAM" tagline="TRAIN WITH EXPERTS" pass-action>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <li v-for="(trainer, index) in trainers" :key="index">
          <CardTrainer :items="trainer" />
        </li>
      </ul>
    </WrapperSection>

    <!-- End trainer -->
  </WrapperPage>
</template>

<style scoped>
</style>
