<script setup lang="ts">
import { user } from '~~/stores/user.js';

const userStore = user();

const groups = ref<any[]>([]);

onMounted(async () => {
    const resp = await apiGet(`/api/Group/Coach/${userStore.credentials?.user?.id}`);
    if (resp?.statusCode == 200) {
        groups.value = resp?.value;
    }
})

</script>

<template>
    <ContainerAccountPage title="My Groups">
        <div class="flex justify-end ml-0 items-end">
            <h1 class="text-secondary font-bold text-xl uppercase grow">Groups</h1>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(group, index) in groups" :key="index" class="hover">
                        <th class="w-12">{{ index + 1 }}</th>
                        <td class="capitalize">{{ group?.name }}</td>
                        <td class="space-x-2 flex items-center ">
                            <NuxtLink :to="`/coach/groups/${group.id}`" class="btn btn-sm btn-primary btn-outline">
                                view details
                            </NuxtLink>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ContainerAccountPage>
</template>

<style scoped>
</style>