<script setup lang="ts">
import { object, string, date, ref as yupRef, bool } from "yup";
import { IStatus } from "~~/interfaces/IStatus";
import { ICreateSupervisor, IUpdateCustomer, IUpdateSupervisor } from "~~/interfaces/IUser";
import { INPUT_TYPE } from '~~/enum';
import { phoneRegExp } from '~~/utils/regExp';
import { ISelect } from "~~/interfaces/IInput";
import { user } from "~~/stores/user";
import moment from 'moment'
import { Icon } from "@iconify/vue";

const router = useRouter();
const { $toast } = useNuxtApp();

const userStore = user();

console.log("DOB: ", moment(userStore.credentials?.user?.dateOfBirth).format('YYYY-MM-DD'));

const profile = ref(getUserProfile())
const statuses = ref<IStatus[]>([]);
// const userStatus = ref<ISelect>({
//     label: userStore.credentials?.status.name || '',
//     value: userStore.credentials?.status.id || ''
// });
const isEnableEdit = ref<boolean>(false);

const dob = ref<string>(moment(userStore.credentials?.user?.dateOfBirth).format('YYYY-MM-DD'));
const minDate = ref('1900-01-01');
const maxDate = ref('2020-01-01');

watch(userStore, (credentials) => {
    profile.value = getUserProfile()
}, { deep: true })

onMounted(async () => {
    const resp = await apiGet("/api/Status");
    if (resp?.statusCode === 200) {
        statuses.value = resp?.value
    }
})

const initialValues = {
    firstName: userStore.credentials?.user?.firstName,
    lastName: userStore.credentials?.user?.lastName,
    gender: userStore.credentials?.user?.gender,
    phoneNumber: userStore.credentials?.user?.phoneNumber,
    email: userStore.credentials?.user?.email,
}

const schema = object().shape({
    firstName: string().min(2).max(50).required('First name is required'),
    lastName: string().min(2).max(50).required('Last name is required'),
    gender: string().required(),
    phoneNumber: string().required().matches(phoneRegExp, 'Phone number is not valid'),
    email: string().required().email(),
})

const fileUpdate = (e) => updateUserProfile(e);

const onSubmit = async (values, { resetForm }) => {
    isEnableEdit.value = false;
    const customer: IUpdateCustomer = {
        user: {
            firstName: values.firstName,
            lastName: values.lastName,
            email: values.email,
            imageName: userStore.credentials?.user?.imageName,
            imageSrc: userStore.credentials?.user?.imageSrc,
            gender: values.gender,
            phoneNumber: values.phoneNumber,
            dateOfBirth: new Date(dob.value)
        }
    }

    const resp = await updateCustomer(userStore.credentials?.id, customer);
    if (resp) userStore.setUser(resp);
}

</script>

<template>
    <ContainerAccountPage title="My Account">
        <div class="flex justify-center relative">
            <label for="profileImage" class="cursor-pointer relative group overflow-hidden p-2">
                <div class="avatar">
                    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img :src="profile.src" :alt="profile.alt" />
                    </div>
                </div>
                <div class="opacity-0 group-hover:opacity-50 transition duration-300 ease-linear absolute top-0 bottom-0 left-0 right-0
                        flex justify-center items-center bg-transparent group-hover:bg-black rounded-full">
                    <Icon icon="mdi:camera" class="text-2xl " />
                </div>
            </label>
            <input type="file" name="profileImage" id="profileImage" hidden @change="fileUpdate">

            <button class="absolute right-0 bottom-0 btn btn-outline btn-ghost btn-sm"
                @click="isEnableEdit = !isEnableEdit">
                <Icon icon="mdi:pencil" class="text-xl mr-2" /> Edit
            </button>
        </div>
        <div>
            <VeeForm :validation-schema="schema" :initial-values="initialValues" @submit="onSubmit" class="mt-6">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    <InputText name="firstName" label="First Name" placeholder="First Name" :disabled="!isEnableEdit" />
                    <InputText name="lastName" label="Last Name" placeholder="Last Name" :disabled="!isEnableEdit" />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                    <div>
                        <label for="dateOfBirth" class="text-primary capitalize">Date of birth</label>
                        <DateTimePicker only-date format="YYYY-MM-DD" input-size="lg" dark :min-date="minDate"
                            no-button-now :max-date="maxDate" no-clear-button button-color="#F56200" color="#F56200"
                            :disabled="!isEnableEdit" right no-label id="dateOfBirth" formatted="ll"
                            :inititale-value="dob" v-model="dob" />
                    </div>
                    <InputSelect name="gender" label="Gender" :disabled="!isEnableEdit"
                        :options="[{ label: 'Male', value: 1 }, { label: 'Female', value: 2 }]" />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
                    <InputText :type="INPUT_TYPE.tel" name="phoneNumber" label="Phone Number" placeholder="Phone Number"
                        :disabled="!isEnableEdit" />
                    <InputText :type="INPUT_TYPE.email" name="email" label="Email" placeholder="Email"
                        :disabled="true" />
                </div>
                <button type="submit" class="btn btn-primary text-gray-800 mt-6 w-full"
                    :class="{ 'loding btn-disabled': !isEnableEdit }">Save Changes
                </button>
            </VeeForm>
        </div>
    </ContainerAccountPage>
</template>

<style scoped>
</style>