<script setup lang="ts">
import { Icon } from '@iconify/vue';

const { $toast, $modal } = useNuxtApp();
const customers = ref<any[]>([]);

onMounted(async () => {
    const resp = await apiGet("/api/User/Customers");
    if (resp?.statusCode === 200) {
        customers.value = resp?.value
    }
})

const handleDelete = async (customer) => {
    console.log("customer: ", customer);
    $modal.show({
        type: "danger",
        title: "Confirm Delete",
        body: "This user will be deleted permanently.",
        primary: {
            label: "Confirm",
            theme: "red",
            action: async () => await deleteUser(customer?.id).then(resp => {
                if (resp) customers.value = customers.value.filter((c) => c.id != customer?.id);
            }),
        },
        secondary: {
            label: "Cancel",
            theme: "white",
            action: () => { },
        },
    });
}

</script>

<template>
    <ContainerAccountPage title="Customer">
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12">#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Created At</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(customer, index) in customers" :key="index">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">{{ customer?.user.firstName + " " +
                                customer?.user.lastName
                        }}</td>
                        <td>{{ customer?.user.email }}</td>
                        <td>{{ customer?.user.phoneNumber }}</td>
                        <td>{{ customers.length && new Date(customer?.user.createdAt).toLocaleDateString() }}
                        </td>
                        <td class="space-x-2 flex items-center ">
                            <button class="btn btn-square btn-sm btn-error btn-outline" @click="handleDelete(customer)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <!-- <button class="btn btn-sm btn-outline btn-warning">Suspend</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!customers.length" message="No Customer yet" />
    </ContainerAccountPage>
</template>


<style scoped>
</style>