<script setup lang="ts">

definePageMeta({
    layout: "auth"
})

</script>

<template>
    <div>
        <div class="h-9 w-full bg-red-400">
            <h1>This is the Parent Page</h1>
        </div>
        <NuxtPage />
    </div>
</template>


<style scoped>
</style>