<script setup lang="ts">

definePageMeta({
    middleware: ["auth"],
    layout: "auth"
})
</script>

<template>
    <ContainerAccountPage title="Settings">
        <div class="flex grow flex-col justify-center items-center">
            <h1 class="text-primary font-bold text-2xl">There is no settings page yet!</h1>
        </div>
    </ContainerAccountPage>
</template>


<style scoped>
</style>