<script setup lang="ts">
import moment from 'moment';


const route = useRoute()

const appointment = ref<any>(null);
const isExpired = ref<boolean>(false);

onMounted(async () => {
    const resp = await apiGet(`/api/Appointment/${route.params.id}`);
    console.log("resp: ", resp);
    if (resp?.statusCode == 200) {
        appointment.value = resp?.value;
        isExpired.value = moment(appointment.value?.endDate).isBefore(moment());
    }
    console.log("appointment: ", appointment.value);
})

</script>

<template>
    <ContainerAccountPage :title="route.params.name">
        <AppointmentDetails :item="appointment" :is-expired="isExpired" />
    </ContainerAccountPage>
</template>


<style scoped>
</style>