<script setup lang="ts">
import moment from 'moment';
import { useToast } from 'tailvue';
import { object, string } from 'yup'
import { user } from '~~/stores/user.js';


const router = useRouter();

const userStore = user();

const coaches = ref<any[]>([]);
const modal = ref<boolean>(false);
const seletedCoach = ref<any | null>(null);
const isSubmitting = ref<boolean>(false);

onMounted(async () => {
    const resp = await coachGetAll();
    if (resp) {
        coaches.value = resp;
    }
})

const now = moment().format('YYYY-MM-DD h:mm a')
const now30 = moment().add(30, 'minutes').format('YYYY-MM-DD h:mm a')

const startDate = ref<string>(now);
const endDate = ref<string>(now30);

const schema = object().shape({
    title: string().required().min(2).max(250),
})

const onSelectedCoach = (coach) => {
    seletedCoach.value = coach;
    modal.value = true;
}

const onSubmit = async (values, { resetForm }) => {
    const data = {
        title: values.title,
        startDate: moment(startDate.value),
        endDate: moment(endDate.value),
        coachId: seletedCoach.value?.user?.id,
        customerId: userStore.credentials?.user?.id,
        isActive: true
    }
    const resp = await apiPost('/api/Appointment', data)
    console.log("resp: ", resp);
    if (resp?.statusCode == 201) {
        seletedCoach.value = null;
        resetForm();
        modal.value = false;
        useToast().show({
            message: resp?.value,
            type: 'success',
            timeout: 3
        })
        router.push('/customer/appointments');
    }
}

</script>

<template>
    <ContainerAccountPage title="Create Appointment">
        <div class="flex justify-center w-full">
            <h2 class="text-2xl font-bold uppercase text-primary">Choose a trainer</h2>
        </div>
        <ul class="grid grid-cols-1 mt-12 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <li v-for="(coach, index) in coaches" :key="index">
                <CardTrainer :items="coach" />
                <button class="btn btn-primary w-full btn-outline btn-sm" @click="onSelectedCoach(coach)">
                    Make Appointment
                </button>
            </li>
        </ul>
        <VFModal v-model="modal">
            <template #title>
                <h2>Make An Appointment</h2>
                <p>
                    Coach:
                    <span class="text-xl font-bold capitalize text-primary ml-4">
                        {{ seletedCoach?.user?.firstName + " " + seletedCoach?.user?.lastName }}
                    </span>
                </p>
            </template>
            <div class="min-h-[700px] min-w-[500px]">
                <VeeForm :validation-schema="schema" @submit="onSubmit" class="space-y-4 mt-6">
                    <div>
                        <InputText name="title" label="title" placeholder="Title" required :disabled="isSubmitting" />
                    </div>
                    <div>
                        <label for="startDate">Start At</label>
                        <DateTimePicker :min-date="now" no-label no-clear-button format="YYYY-MM-DD h:mm a"
                            :disabled="isSubmitting" formatted="YYYY-MM-DD h:mm a" input-size="lg" dark
                            button-color="#F56200" color="#F56200" minute-interval="10" id="startDate"
                            :inititale-value="startDate" v-model="startDate" />
                    </div>
                    <div>
                        <label for="endDate">End At</label>
                        <DateTimePicker no-label :min-date="now30" no-clear-button format="YYYY-MM-DD h:mm a"
                            :disabled="isSubmitting" formatted="YYYY-MM-DD h:mm a" input-size="lg" dark
                            button-color="#F56200" color="#F56200" minute-interval="10" id="endDate"
                            :inititale-value="endDate" v-model="endDate" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-outline w-full"
                        :class="{ 'btn loading': isSubmitting }">
                        Place Appointment
                    </button>
                </VeeForm>
            </div>
        </VFModal>
    </ContainerAccountPage>

</template>


<style scoped>
</style>