<script setup lang="ts">
import { Icon } from '@iconify/vue';
import moment from 'moment';
import { user } from '~~/stores/user.js';

const { $toast, $modal } = useNuxtApp();
const userStore = user()
const appointments = ref<any[]>([]);

onMounted(async () => {
    const resp = await apiGet(`/api/Appointment/Customer/${userStore.credentials?.user?.id}`);
    if (resp?.statusCode === 200) {
        appointments.value = resp?.value;
    }
    console.log(appointments.value);
});

const coachName = computed(() => {
    return (appointment) => appointment?.coach?.user?.firstName + ' ' + appointment?.coach?.user?.lastName;
})

const isExpired = computed(() => {
    return (appointment) => moment(appointment?.endDate).isBefore(moment());
})

const getDate = computed(() => {
    return (date) => moment(date).format('DD-MM-YYYY (h:mm a)');
})

</script>

<template>
    <ContainerAccountPage title="Appointments">
        <div class="flex justify-end ml-0 items-end">
            <h1 class="text-secondary font-bold text-xl uppercase grow">Appointments</h1>
            <NuxtLink to="/customer/appointments/create" class="btn btn-outline btn-primary">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Appointment
            </NuxtLink>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12">#</th>
                        <th>Name</th>
                        <th>Coach</th>
                        <th>Start At</th>
                        <th>End At</th>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(appointment, index) in appointments" :key="index"
                        :class="{ 'text-red-500': isExpired(appointment) }">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">{{ appointment?.title }}</td>
                        <td>{{ coachName(appointment) }}</td>
                        <td>{{ getDate(appointment?.startDate) }}</td>
                        <td>{{ getDate(appointment?.endDate) }}</td>
                        <td>
                            <NuxtLink
                                :to="{ name: 'customer-appointments-id', params: { id: appointment?.id, name: appointment?.title } }"
                                class="btn btn-sm btn-primary btn-outline">
                                View Details
                            </NuxtLink>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!appointments.length" message="No Appointment yet" />
    </ContainerAccountPage>
</template>


<style scoped>
</style>