<script setup lang="ts">
import { Icon } from "@iconify/vue";

const { $toast, $modal } = useNuxtApp();

const coaches = ref<any[]>([]);
const isDeleting = ref<boolean>(false);

onMounted(async () => {
    const resp = await apiGet("/api/User/Coaches");
    if (resp?.statusCode === 200) {
        coaches.value = resp?.value;
    }
});

const handleDelete = async (coach: any) => {
    $modal.show({
        type: "danger",
        title: "Confirm Delete",
        body: "This user will be deleted permanently.",
        primary: {
            label: "Confirm",
            theme: "red",
            action: async () => await deleteUser(coach?.id).then(resp => {
                if (resp) coaches.value = coaches.value.filter((c) => c.id != coach?.id);
            }),
        },
        secondary: {
            label: "Cancel",
            theme: "white",
            action: () => { },
        },
    });
};
</script>

<template>
    <ContainerAccountPage title="Customer">
        <div class="flex justify-end ml-0">
            <NuxtLink to="/supervisor/users/coaches/create" class="btn btn-outline btn-primary">
                <Icon icon="ic:baseline-add" class="text-2xl mr-2" />
                Create Specialization
            </NuxtLink>
        </div>
        <div class="overflow-x-auto w-full ring ring-neutral rounded-md mt-6">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="w-12">#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Created At</th>
                        <th class="w-24">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr v-for="(coach, index) in coaches" :key="index">
                        <th>{{ index + 1 }}</th>
                        <td class="capitalize">
                            {{
                                    coach?.user.firstName + " " + coach?.user.lastName
                            }}
                        </td>
                        <td>{{ coach?.user.email }}</td>
                        <td>{{ coach?.user.phoneNumber }}</td>
                        <td>
                            {{
                                    coaches.length &&
                                    new Date(coach?.user.createdAt).toLocaleDateString()
                            }}
                        </td>
                        <td class="space-x-2 flex items-center">
                            <button class="btn btn-square btn-sm btn-error btn-outline" @click="handleDelete(coach)">
                                <Icon icon="ic:baseline-delete-forever" class="text-xl" />
                            </button>
                            <!-- <button class="btn btn-sm btn-outline btn-warning">Suspend</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ContentEmpty :show="!coaches.length" message="No coach yet" />
    </ContainerAccountPage>
</template>

<style scoped>
</style>
